[2018-09-10 07:09] vivekratnavel opened #1 "Add support for filter on all fields"
With different operators (=, >=, <=, !=, etc.)

[2018-09-10 07:11] vivekratnavel opened #2 "Implement polling to update "Captured Out""

[2018-09-14 07:25] BrEr opened #3 "Allow key-value pairs in config dictionary to be displayed in seperate column"
My hyperparameters are stored in a dictionary. Currently omniboard does not support displaying nested values in a seperate column. So far example:

`"train" : {"batch_size":32,"epochs":100,"lr":0.01}`

It would be very nice to be able to display "batch_size " in it's own seperate column, opposed to the "train" column I have now.

[2018-09-14 07:27] BrEr opened #4 "Remember metric selection in "Metrics Plot""
When viewing the details of an experiment the "Metrics Plot" shows an empty plot by default. A nice quality of life improvement would be if Omniboard remembered the selection across experiments so I do not have to click my desired metrics on every run.

[2018-09-18 10:00] JarnoRFB opened #5 "Using the docker container with more advanced options"
Hey, looks like a cool project!

I tried to start it in a container, linking it to my existing mongo container for which SCRAM-SHA authentification is enabled like so

`docker run -it --rm -p 9000:9000 --name omniboard --network sacred_network vivekratnavel/omniboard "--mu mongodb://user:pwd@mongo:27017/?authMechanism=SCRAM-SHA-1 db"`

I used `--network` instead of `--link` as I could not link the

[2018-09-18 22:47] vivekratnavel commented on #5
Thanks for trying it out!
Can you try ```docker run -it --rm -p 9000:9000 --name omniboard --network sacred_network --link YOUR_MONGODB_CONTAINER:mongo vivekratnavel/omniboard "--mu mongodb://user:pwd@mongo:27017/?authMechanism=SCRAM-SHA-1 db" ``` ?

```YOUR_MONGODB_CONTAINER:mongo``` This reference is what we use in this connection string ```mongodb://user:pwd@mongo:27017```. So, without the link

[2018-09-19 12:44] JarnoRFB commented on #5
Unfortunately, that produces exactly the same error. I also think that it should not make a difference as the mongo container, in the network should be named `mongo`. For comparison, I use the following `docker-compose` file to run the mongo container:

[code]

[2018-09-19 16:02] vivekratnavel commented on #5
In that case, did you try running omniboard with ```docker-compose``` as well? You can use ```command: --mu mongodb://user:pwd@mongo:27017/?authMechanism=SCRAM-SHA-1 db``` to pass arguments to omniboard

[2018-09-19 20:52] JarnoRFB commented on #5
I tried
[code]
this somehow produces
[code]

this seems really strange to me.

[2018-09-19 21:51] vivekratnavel commented on #5
This might help - https://github.com/Automattic/mongoose/issues/6052

[2018-09-20 08:54] JarnoRFB commented on #5
I now tried to build a minimal docker-compose file with mongo and omniboard. Still it does not work

[code]

However, this time the error is a different
[code]

[2018-09-20 19:10] vivekratnavel commented on #5
I was able to connect without the auth mechanism in connection url, like this - ```mongodb://sample:password@mongo:27017/db?authSource=admin```

Can you try this and let me know?

Also, if you want to test the connection within omniboard container, you can install mongo shell by following instruction from here - https://docs.mongodb.com/v3.6/tutorial/install-mongodb-on-debian/

And then try to con

[2018-09-21 09:34] #4 closed

[2018-09-21 16:51] JarnoRFB commented on #5
So doing
[code]
in the docker-compose file gives

[code]

I will try installing the the mongo client inside the container later. However, if you have a minimal working example of a docker-compose file, I would be happy if you could share it.

[2018-09-21 17:03] vivekratnavel commented on #5
Nice!
This error means that authentication with mongo works and if you have a db named `db` then this connection should work - `mongodb://sample:password@mongo:27017/?authSource=admin`

[2018-09-28 20:57] JarnoRFB commented on #5
Unfortunately, that produces the same error. If you could provide a minimal working example that would be great. Otherwise I cannot get this to work.

[2018-10-01 05:58] nehaboob opened #6 "Error while using the omniboard"
Hi,
I installed the omniboard using npm. When I open http://localhost:9000/ in the browser I get below error: Error: h.has is not a function.

Attaching the screenshot here. Please advise.

![omniboard](https://user-images.githubusercontent.com/17593261/46272076-058c7b80-c56d-11e8-96c4-e7ed7bf1f7df.png)

[2018-10-01 06:32] vivekratnavel commented on #6
Can you try disabling all browser extensions and try in incognito window?

If the error still persists, please post a screen-shot of the javascript console and network tab. You can do this by right-clicking and selecting "Inspect Element" in Chrome.

[2018-10-01 09:52] nehaboob commented on #6
Its working fine in incognito window. Thanks.

[2018-10-01 09:52] #6 closed

[2018-10-04 00:22] erikyao opened #7 "Is it possible to download artifacts from Omniboard?"
Hi Vivek,

Thank you so much for your efforts in this amazing tool. I am just wondering if in the future there will be links for downloading artifacts.

Best,
Yao

[2018-10-04 09:52] vivekratnavel commented on #7
Thanks for your feedback!

Could you please elaborate on how you would like to download the artifacts?

[2018-10-04 21:10] erikyao commented on #7
E.g. If I trained a DNN model, saved the model in a pickle file, and added this pickle file as a Sacred artifact, can I download this pickle file directly from Omniboard? Restoring the file from MongoDB need some extra efforts. Thanks!

[2018-10-10 09:38] daanbeverdam commented on #5
I was struggling with the same issue and tracked it down to the construction of the connection url in `server/config/database.js`.

[code]

[2018-10-10 18:14] vivekratnavel commented on #5
Thanks @daanbeverdam for the PR!

[2018-10-10 18:14] #5 closed

[2018-10-11 03:41] eugeneware opened #9 "Error: h.has is not a function when failed Status is deselected"
When you unselect the Status "Failed" from the top left menu you get the following error:

[code]

![image](https://user-images.githubusercontent.com/38154/46779342-17d39a00-cd63-11e8-90d1-20784dcfc9be.png)

## Steps to reproduce ##
* Unselect the "Failed" status:

![image](https://user-images.githubusercontent.com/38154/46779381-42bdee00-cd63-11e8-9854-e540d0ac337f.png)

## Environment

* Omniboa

[2018-10-11 08:47] daanbeverdam commented on #9
Ran into the same problem. This seems to happen every time when there is exactly 1 run to be shown.

[2018-10-11 08:56] daanbeverdam opened #10 "Try to reconnect when mongo connection fails"
When the app is started while mongo is not yet ready, it crashes. It would be nice to have it try to reconnect. This is especially handy when using docker-compose, because most of the times my omniboard container is up before mongo has fully started up (even with container dependencies set up).

[2018-10-11 09:25] #7 closed, assigned to vivekratnavel

[2018-10-11 09:28] vivekratnavel commented on #7
You can now View / Download source files or artifacts from Omniboard. Install Omniboard from source to try this feature and let me know how it works.

[2018-10-11 09:32] vivekratnavel commented on #10
Agreed. I would be happy to accept PR for this.

[2018-10-11 17:07] erikyao commented on #7
Wow, thank you, Vivek!

[2018-10-12 10:42] maartjeth commented on #9
Ran into this as well. Seem to get it at all times though - not only when unselecting failed.

[2018-10-12 10:42] #9 closed

[2018-10-14 03:42] #10 closed

[2018-10-14 03:44] vivekratnavel commented on #10
@daanbeverdam Thanks for creating this issue. Fixed in master. Will be released with v0.0.3.

[2018-10-15 21:29] vivekratnavel opened #11 "Upgrade Bootstrap to v4"
Upgrade bootstrap and react-bootstrap to support Bootstrap 4.

[2018-10-18 11:08] dzkb opened #12 "Binary artifacts are not served properly"
Hi,

I'm having issues with binary artifacts, e.g. PNG plots or pickled data. After adding artifacts with sacred by `ex.add_artifact`, Omniboard provides an option to download those artifacts. Currently this works fine only with text data, downloading binary data results in corrupted files.

I've tried to manually export binary artifact from MongoDB and it works fine – resulting file can be opened

[2018-10-22 07:31] dzkb commented on #12
@vivekratnavel I meant any binary data. For example pickle files. I cannot unpickle models I downloaded from Omniboard.

[2018-10-27 15:32] dzkb commented on #12
You can try this [sample code](https://gist.github.com/dzkb/12e47299168f0ac8375d0b28b931c1e9). After running this experiment, download artifacts using omniboard. Text file will be fine, but the plot will appear corrupted.

[2018-10-28 14:09] vivekratnavel commented on #12
@dzkb Thanks for the PR! But, I am working on fixing this bug by implementing a new API in server to serve binary files for download. This will also fix image previews before downloading artifacts.

[2018-10-28 16:55] dzkb commented on #12
@vivekratnavel Great! I'm looking forward to it! I'll close my PR then.

[2018-10-29 02:34] #12 closed

[2018-10-29 06:00] vivekratnavel commented on #12
Fixed in https://github.com/vivekratnavel/omniboard/releases/tag/0.0.4

[2018-11-02 16:51] nbren12 opened #14 "Add viewer for image file artifacts?"
I really appreciate the work you have done on ominiboard, and really like the notes feature.

I frequently save matplotlib plots to track the progress of my models as they are trained, and I am wondering if it would be possible to add a image viewer for these artifacts.

Thanks!

[2018-11-02 18:35] vivekratnavel commented on #14
Sure. I added image viewer in the latest release - https://github.com/vivekratnavel/omniboard/releases/tag/0.0.4

Which version of omniboard are you using? And what is the image format of your matplotlib plots?

[2018-11-02 20:19] nbren12 commented on #14
Wonderful! Thank you. I just updated to the latest version, and it works.

On Fri, Nov 2, 2018 at 12:36 PM Vivek Ratnavel Subramanian <
notifications@github.com> wrote:

[2018-11-02 20:49] vivekratnavel commented on #14
Great!

[2018-11-02 20:49] #14 closed

[2018-11-03 19:01] greenkeeper[bot] opened #15 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-11-04 04:35] greenkeeper[bot] opened #16 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-11-05 04:16] #16 closed

[2018-11-05 04:16] #15 closed

[2018-11-06 07:09] eliorc opened #18 "Displaying tf.summary captured output"
Sacred supports following the output of the `tf.summary.FileWriter`, as the [docs show](https://sacred.readthedocs.io/en/latest/tensorflow.html).

I'm using this setup in my experiment, but I don't see any of the TF outputs, is this a bug or not yet supported?

[2018-11-07 05:02] vivekratnavel commented on #18
Tensorflow is not yet supported in Omniboard. Thanks for this feature request!

[2018-11-07 09:47] eliorc commented on #18
Really hard to tell if Sacred is still the way to go, with MLFlow being maintained by databricks, one is gotta ask maybe its time to switch to MLFlow tracking for experiment visualization.

Is Omniboard planning to continue to grow? Sacredboard is the only alternative and is not actively maintained

[2018-11-13 12:01] loeiten opened #19 "Usage (docker) without --link"
I tried setting up Omniboard as described in the [docks](https://github.com/vivekratnavel/omniboard#usage-docker) as follows

[code]

and everything is working as expected.

However, reading from the docker [documentation](https://docs.docker.com/network/links/), I see that `--link` is deprecated

What is the preferred way to run through docker without using the `--link` option?

I tried

[code]

[2018-11-13 17:53] vivekratnavel commented on #19
@loeiten Thanks for trying Omniboard! Is your mongo container also within the same network (sacred-network) ?

[2018-11-13 18:01] loeiten commented on #19
@vivekratnavel Well, thank you for creating Omniboard :).

I'm by no means an expert on docker, but if I understand it correctly, they are on the same network.

As far as I understand, this is how the commands above works
[code]
creates the network
[code]
creates the `mongo` container, adds it to the `sacred-network` and exposes port `27017`. Finally
[code]
creates the `omniboard` container, adds

[2018-11-13 19:29] vivekratnavel commented on #19
@loeiten Sorry! I missed your mongo container creation part in the first comment.

Could you please try this?
`docker run -it --rm -p 9000:9000 --name omniboard --net=sacred-network vivekratnavel/omniboard -m sacred-db:27017:sacred`

Here hostname should be the name of your mongo container. In the docs, it is `mongo` because of alias used in `link`. Please let me know if the above command doesn't

[2018-11-14 08:59] loeiten commented on #19
That did the trick :D.
Thanks 👍

Will it be beneficial to change the docs then? To use the `--net` rather than `--link`?

[2018-11-14 18:09] #19 closed

[2018-11-14 18:10] vivekratnavel commented on #19
Updated the docs with `--net`. Thanks!

[2018-11-14 18:23] vivekratnavel commented on #19
:tada: This issue has been resolved in version 0.0.7 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/0.0.7)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-11-14 18:55] vivekratnavel commented on #18
@eliorc How would you like to visualize the log dirs captured by `tf.summary.FileWriter`? Sacred only stores the names of these directories for each run.

[code]

[2018-11-14 20:07] eliorc commented on #18
That is all you need actually!
TensorBoard stores all of the data in this directory, and all the traced data can be extracted from that.

In Python, you can see these two SO questions that deal with how to extract data from the logs
[SO question 1](https://stackoverflow.com/questions/37304461/tensorflow-importing-data-from-a-tensorboard-tfevent-file
)
[SO question 2](https://stackoverflow.com/ques

[2018-11-21 11:11] loeiten opened #20 "Disabling cache"
Is there a possibility for disabling caching in Omniboard?

If I add a new parameter to the configuration I have to manually delete the cache for the parameter column appear in the webpage.

[2018-11-23 10:44] kilsenp opened #21 "Blank Screen"
When installing through npm install -g omniboard, I only get a blank screen for the latest version.
I checked @0.0.3 that still worked. From source also works.

[2018-11-23 10:48] kilsenp opened #22 "Config not shown"
Hi,
thanks for you work. Looks pretty cool so far.
When looking at my experiments, I cannot see my configuration at all which I think is quite odd because I would assume that this is a basic feature Omniboard probably supports.

And how do I get additional columns to show up like seen in your screenshot ('Optimizer name', 'BatchNorm' etc). I'm kind of guessing that this is related to my config not

[2018-11-23 10:52] vivekratnavel commented on #22
Hi @kilsenp,

Thanks for trying out Omniboard! Could you please try clearing your browser cache or open an incognito window and try?

Expected behavior is that all the configs should show up as individual columns as seen in the screenshot.

[2018-11-23 10:59] vivekratnavel commented on #20
You are right. There is no option to clear cache. Let me add a new button to clear cache so that you don't have to manually clear it or open incognito session. Thanks for reporting this!

[2018-11-23 11:02] kilsenp commented on #22
Thanks for the quick response. Yes, that did the job!

[2018-11-23 11:02] #22 closed

[2018-11-23 11:07] vivekratnavel commented on #21
This might also be associated with browser cache issue #22 . Could you please retry installing the latest version ? I tried just now and it works. It should install `omniboard@0.0.7`. If not, please let me know.

[2018-11-26 13:45] kilsenp commented on #21
Hi.
thanks, yes, it worked after cleaning the cache through the developer tools (in chrome: DevTools -> Applications -> Clear Storage).

[2018-11-26 13:45] #21 closed

[2018-12-02 03:18] #20 closed

[2018-12-12 03:38] chernyshof opened #26 "live reload"
What about live reload support?

[2018-12-12 03:42] vivekratnavel commented on #26
Live reload of `Captured output` is being tracked via #2

Is this what you are referring to?

[2018-12-13 03:47] #1 closed

[2018-12-13 05:39] vivekratnavel commented on #1
:tada: This issue has been resolved in version 0.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/0.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-14 08:21] vivekratnavel commented on #11
Waiting on Bootstrap 4 support from react-bootstrap-multiselect

https://github.com/skratchdot/react-bootstrap-multiselect
https://github.com/davidstutz/bootstrap-multiselect/pull/1050

[2018-12-14 08:51] vivekratnavel commented on #3
@BrEr In this example, does it make sense to automatically expand `batch_size`, `epochs` and `lr`as separate columns and delete `train` column? Or do you want an option to expand each nested config as needed?

[2018-12-15 17:50] u39kun commented on #3
Here are my thoughts on this.
We can treat nested objects by recursively parsing and add them as new columns.
Let's say we have something like the following:

`"train" : {"batch_size":32,"epochs":100,"lr":{"base_rate": 0.01, "drop_rate": 0.5, "epochs_per_drop": 10}}`

Then we can add columns with the following names:
* train.batch_size
* train.epochs
* train.lr.base_rate
* train.lr.drop_rate
* tra

[2018-12-16 09:16] vivekratnavel commented on #3
@u39kun I agree with you. I will work on adding this feature.

[2018-12-17 08:44] #3 closed

[2018-12-17 08:52] vivekratnavel commented on #3
:tada: This issue has been resolved in version 0.4.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/0.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-25 10:54] chernyshof commented on #26
yep

[2018-12-25 10:54] #26 closed

[2018-12-29 08:32] Chenguoqing2008 opened #29 "New filter can't filter running status correctly"
Filter the RUNNING status task in new filter functionality. It displays "PROBABLY_DEAD" tasks.

[2018-12-31 04:33] vivekratnavel commented on #29
:tada: This issue has been resolved in version 0.4.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/0.4.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-31 11:48] wjaskowski opened #30 "Plots are very small"
Any changes for a configuring the size of the metric plots, which are currently very small?

[2018-12-31 17:56] vivekratnavel commented on #30
Working on it

[2018-12-31 19:42] #30 closed

[2018-12-31 19:50] vivekratnavel commented on #30
:tada: This issue has been resolved in version 0.5.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/0.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-01 00:33] vivekratnavel commented on #30
Added plot size sliders to adjust width and height of the plot

<img width="179" alt="screen shot 2018-12-31 at 4 32 44 pm" src="https://user-images.githubusercontent.com/1051198/50569431-db885800-0d19-11e9-88c1-e652bf642731.png">

[2019-01-01 15:49] wjaskowski commented on #30
You are quick! Thanks!

On Tue, 1 Jan 2019 at 01:33, Vivek Ratnavel Subramanian <
notifications@github.com> wrote:

[2019-01-03 08:29] wjaskowski opened #31 "Use different ports"
Currently, Omniboard always uses port 9000, so I cannot run two instances of it. The desired behaviour: try other ports until found an available one.

[2019-01-03 08:31] wjaskowski opened #32 "The rows are unnecessarily high (too much whitespace?)"
The screen could fit much more rows/experiments.

[2019-01-03 19:13] wjaskowski commented on #31
Indeed but don't you think using a docker for such a simple feature is an
overkill?

On Thu, Jan 3, 2019, 6:29 PM Vivek Ratnavel Subramanian <
notifications@github.com wrote:

[2019-01-03 21:21] #31 closed

[2019-01-03 21:30] vivekratnavel commented on #31
:tada: This issue has been resolved in version 0.5.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/0.5.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-04 11:45] lliuz opened #33 "Feature Request: remove experiments"
It would be nice if one could use the dashboard for removing some experiments.

[2019-01-05 15:56] #32 closed

[2019-01-05 15:59] vivekratnavel commented on #32
Well, the higher row height was necessary to add/edit/view notes inline within each cell. I have now reduced the row height by 30% and adjusted the notes cell to fit better. Cannot reduce the row height further without affecting user experience.

[2019-01-05 22:11] #33 closed

[2019-01-05 22:13] vivekratnavel commented on #33
Refer to the doc to learn how to delete an experiment run - https://vivekratnavel.github.io/omniboard/#/usage?id=delete-an-experiment-run

[2019-01-07 04:47] #2 closed

[2019-01-07 05:55] rajatvd opened #34 "Make omniboard work with FileStorageObserver?"
It would be really convenient if omniboard could also work with the FileStorage backend of sacred as I have a bunch of older runs which use the FileStorageObserver. I think the file-based storage stores the same information as the MongoDB observer so it should theoretically be possible.

[2019-01-07 06:47] vivekratnavel commented on #2
:tada: This issue has been resolved in version 0.7.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/0.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-08 09:49] wjaskowski opened #35 "Reloading the table after deleting an entry"
I love the new "delete experiment" feature. Thx! But I don't like the fact that it reloads the table after each delete. This can take a lot of time, e.g.:
[code]

Btw. do I see correctly that all artifacts are fetched right away? Artifacts can be large...

[2019-01-08 13:12] kilsenp opened #36 "Save status selected settings"
When I deselect some status like 'Failed' and completely reload the page, they are selected again.
Could this also be saved?

Actually, I always refresh the page to see newly added experiments. The more convenient solution would obviously be, if omniboard would refresh itself automatically when a new experiment is added or finished.

Thanks for the great work!

[2019-01-08 16:33] vivekratnavel commented on #35
@wjaskowski Thanks for your feedback! I can update the UI without reloading the table. I will work on it.

Also, you are right that fetching `artifacts` while loading the table is not necessary. However, it fetches only the metadata of artifacts. Actual artifacts get loaded only when you select `Artifacts` tab in the drilldown menu. Anyways, I will remove it from this query in my next patch. Thank

[2019-01-08 16:35] vivekratnavel opened #37 "Delete associated artifacts and metrics data while deleting a run"
Currently, when an experiment run is deleted, only the run detail is deleted from the database. It should also delete all the associated artifacts and metric data

[2019-01-08 16:43] wjaskowski commented on #35
Yeah. I realized that. Artifactid don't weight anything so is is probably
not worth. The captured output could be huge. Do you fetch it right away?

On Tue, Jan 8, 2019, 5:33 PM Vivek Ratnavel Subramanian <
notifications@github.com wrote:

[2019-01-08 16:47] vivekratnavel commented on #35
No, `captured_out` gets fetched only when you click on any row. How many runs do you have? Probably that might be the only reason it takes too long to load.

[2019-01-08 21:29] quadebroadwell opened #38 "How to access external of localhost?"
It seems the server is bound to 127.0.0.1 but I cannot find where in the code this is specified, I am trying to change this to 0.0.0.0 to accept external connections?  I thought on the docker side just setting -p 9000:9000 would route external connections to 9000 but that seems to be not happening?

Anyway when trying to access from machine on same network via omniboards machine ip I always just g

[2019-01-08 21:39] quadebroadwell commented on #38
oops forgot to open the port on the other side, ignore this, it works fine.

[2019-01-08 21:39] #38 closed

[2019-01-10 09:09] khaledvic opened #39 "Add tags for running experiment"
If you add a tag to a running experiment.
it seems that the tag is getting removed after a while (maybe after the next heartbeat, after refreshing the webpage)

[2019-01-10 09:14] khaledvic opened #40 "Suggestion: Showing config as expandable dictionary (DrillDown) when opening an experiment"
I think it would useful to see the complete config the same way run_info are shown.

I use the columns to see/sort/filter the most important config values, but then if i want to see the detailed config of an experiment I'll have to show/hide columns for all the table which is very slow when you have a lot of experiments or complex config types (lists)  or paths.

[2019-01-11 16:57] relengxing opened #41 "use azure cosmos db"
I was run in kubernetes. first I use local mongdb, it looks normal. but when I use cosmosdb
I get
![image](https://user-images.githubusercontent.com/16727976/51047937-b55d9480-1604-11e9-988a-f3ac89fdc27d.png)
I find error api is /api/v1/Runs?distinct=omniboard.tags
![image](https://user-images.githubusercontent.com/16727976/51048069-02416b00-1605-11e9-924e-2c739d95b859.png)
Please let me know if y

[2019-01-11 17:02] relengxing commented on #41
arg is
[code]
log is
[code]

[2019-01-13 01:35] vivekratnavel commented on #35
:tada: This issue has been resolved in version 0.7.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/0.7.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-13 22:58] #40 closed

[2019-01-14 14:51] kilsenp commented on #39
The same is true for comments.

[2019-01-14 18:50] KarimJedda opened #43 "MONGO_URI from environment"
Hello and thanks for the great work,

I am currently checking whether I should go for Sacredboard or Omniboard. The thing is, I have a Sacredboard and a Mongo database already running within a Kubernetes cluster. With your current implementation, passing any other mongo uri won't point to the other mongo database (other than localhost:27017).

I edited server/database.js and added process.env.MONG

[2019-01-15 05:02] vivekratnavel commented on #43
Hi @KarimJedda,

I think that will be useful! I would be happy to accept your PR.

Thanks,
Vivek Ratnavel

[2019-01-15 05:10] KarimJedda commented on #43
Great, I'll submit it later today :)

[2019-01-15 15:17] kilsenp opened #44 "Use pretty-ms instead of ms"
The duration is displayed quite imprecisely (if experiment takes hours, the minutes are cut off).

I saw that this has to do with the ms package. There exists an alternative called pretty-ms. Could this be used instead?
https://www.npmjs.com/package/pretty-ms

Best regards

[2019-01-15 15:36] kilsenp opened #45 "Code browsing"
It would be quite convenient to be able to quickly browse the code to fully understand the experiment.
Currently, you have to first download the file before you can open it. It would be more convenient if it was additionally possible to just open the file in a new tab without having it to download it first.

[2019-01-15 18:21] KarimJedda commented on #43
There you go, hope that works for you :)
https://github.com/vivekratnavel/omniboard/pull/46

[2019-01-15 19:18] wjaskowski opened #47 ""Error: No response was received from the server." for larger databases"
For larger databases I get `Error: No response was received from the server.` (I suspect a timeout - sacredboard works fine). Can we remove the timeout?

[2019-01-15 19:21] wjaskowski opened #48 "Cannot inspect experiments on the bottom of the page"
If I have many experiments (so I need to scroll to get to the most bottom ones), I am unable to inspect the ones at the bottom. When I open them, the plots open but they show up outside the screen and the *main* scroll on the right is not updated to let me scroll more.

[2019-01-17 00:57] vivekratnavel opened #49 "Add fail trace to drilldown view for failed experiment runs"

[2019-01-17 01:10] #49 closed

[2019-01-17 01:18] vivekratnavel commented on #49
:tada: This issue has been resolved in version 0.9.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/0.9.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-17 01:37] vivekratnavel commented on #47
@wjaskowski There is no timeout set. Can you post a screen-shot of the `network` tab with the response? You can open network tab by `right-click-> Inspect` in chrome.

[2019-01-17 01:40] vivekratnavel commented on #45
@kilsenp If you want to browse the source code, it is already available when you click on a specific file from the list of source files:

<img width="1425" alt="screen shot 2019-01-16 at 6 38 57 pm" src="https://user-images.githubusercontent.com/1051198/51289629-2c58ab80-19be-11e9-81b2-1360499f0bb6.png">

Let me know, if it doesn't work for you

[2019-01-17 02:44] vivekratnavel commented on #44
`pretty-ms` uses ES6 and breaks the build. Will bring it back after supporting ES6 for third party modules in webpack config. Currently javascript heap runs out of memory trying to compile ES6 from third party scripts.

[2019-01-17 09:09] wjaskowski commented on #47
Actually, now I noticed that there is also some error on the console:
[code]
![screenshot_2019-01-17_10-07-52](https://user-images.githubusercontent.com/4952605/51307438-fa882900-1a3f-11e9-9749-668a47bd4bef.png)

[2019-01-17 09:13] wjaskowski opened #50 "Display the database name"
The database name could be displayed somewhere. Useful when I have multiple omniboards opened in different tabs.

[2019-01-17 09:17] wjaskowski opened #51 "X-Axis Type should be "steps" by default"
Currently, neither "steps" nor "timestamps" are set by default and this results in X's being consecutive numbers starting from 0, instead of steps.

[2019-01-17 09:39] wjaskowski opened #52 "A config tab"
The sacredboard had a config tab (all config options listed). Omniboard has columns, which are nice but are of no use if one has 50 config options. A sacredboard-style config tab would be nice to have.

[2019-01-17 10:31] kilsenp commented on #45
Ah okay, then there seems to be a bug for me.
There is an error message thrown (see attached screenshot).
![screenshot from 2019-01-17 11-28-31](https://user-images.githubusercontent.com/5173119/51312316-455b6e00-1a4b-11e9-8a7d-a56ead994b0e.png)

I am not sure how I can help you to debug it, if there is anything I can do, let me know!

[2019-01-18 05:43] vivekratnavel commented on #52
This feature was already released in v0.8.0 - https://github.com/vivekratnavel/omniboard/releases/tag/0.8.0

@wjaskowski Update your omniboard to latest version and let me know if the feature you are requesting is something different

[2019-01-18 17:36] vivekratnavel commented on #47
@wjaskowski I am trying to reproduce this issue in my environment, but with no success. How big is your database. How many rows do you have?

[2019-01-18 17:41] vivekratnavel commented on #39
@khaledvic @kilsenp Thanks for filing this! I looked into this issue and found out that sacred rewrites the whole record after a run completes and hence deleting the keys omniboard created when it was in `running` state.

To fix this issue, I am thinking of moving the `tags` and `notes` out of the `runs` collection to a new collection, so that sacred won't be able to rewrite those records. But, it

[2019-01-18 17:55] wjaskowski commented on #47
75 rows

On Fri, 18 Jan 2019 at 18:36, Vivek Ratnavel Subramanian <
notifications@github.com> wrote:

[2019-01-18 18:57] kilsenp commented on #39
Alternatively, create a pull request in sacred to change the behaviour to update the record. I will try to take a look into that by next week.

[2019-01-18 19:04] kilsenp commented on #39
Had a quick glance, if in this this line
https://github.com/IDSIA/sacred/blob/master/sacred/observers/mongo.py#L273

` self.runs.replace_one({'_id': self.run_entry['_id']}, self.run_entry)`

Was replaced by something like
` self.runs.update_one({'_id': self.run_entry['_id']}, self.run_entry)`

This might already be it, but do not have the time to test it right now.
http://api.mongodb.com/python/cu

[2019-01-19 02:05] vivekratnavel commented on #47
@wjaskowski I have tried running omniboard with 1100 rows and it runs fine. It might also be because you have different number of configs than mine etc. But, I am also going to try with a couple thousand more rows.

I am curious on how much memory (RAM) your VM or machine has where omniboard server is running.
Can you try running omniboard on a different machine with bigger memory and let me know

[2019-01-19 07:03] wjaskowski commented on #47
I agree. I have 32GB of RAM. Since this problem happens only for a single
database it not a big problem currently. Let's see if it happen again.

On Sat, Jan 19, 2019, 3:05 AM Vivek Ratnavel Subramanian <
notifications@github.com wrote:

[2019-01-19 15:58] vivekratnavel commented on #45
@kilsenp I suspect an issue in the database itself, that the source files are not saved correctly in the database.
In your MongoDB, look for `sources` key in `runs` collection.
It should be something like this -
[code]
Then, match this `ObjectID` with `files_id` in `fs.chunks` collection
It should be something like this -
<img width="1154" alt="screen shot 2019-01-19 at 7 55 44 am" src="https://us

[2019-01-19 16:56] vivekratnavel commented on #39
@kilsenp Thanks for digging into this! I tested your suggestion, but unfortunately it doesn't work. First of all, `captured_out` did not get updated. And second thing was that, it ultimately removed `tags` and `notes` from the run once it completed.

If you want to test it, you can use my fork - https://github.com/vivekratnavel/sacred

`pip install -e git+https://github.com/vivekratnavel/sacred.gi

[2019-01-19 17:00] vivekratnavel commented on #51
@wjaskowski X-Axis type is indeed set to `Steps` by default. Which browser do you use to run omniboard? Can you try it in Chrome and also by resetting the [cache](https://vivekratnavel.github.io/omniboard/#/troubleshooting?id=reset-cache) and let me know?

[2019-01-19 17:17] wjaskowski commented on #51
Chrome. Sure. In a week. On holidays.

On Sat, Jan 19, 2019, 6:00 PM Vivek Ratnavel Subramanian <
notifications@github.com wrote:

[2019-01-19 17:34] #36 closed

[2019-01-19 17:36] vivekratnavel commented on #51
Sure. Enjoy your holidays! :)

[2019-01-19 17:47] vivekratnavel commented on #34
Won't be implementing this anytime sooner since it will take a lot of effort to support FileStorageObserver. Also because it doesn't make sense to spend a lot of time for a feature that has very less users, I am closing this now.

[2019-01-19 17:47] #34 closed

[2019-01-19 17:52] rajatvd commented on #34
Okay, are you aware of any scripts which can copy a bunch of experiments stored in file storage format to a mongo DB? That's one tool which might be useful.

[2019-01-20 08:03] #37 closed

[2019-01-20 08:11] vivekratnavel commented on #37
:tada: This issue has been resolved in version 0.10.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/0.10.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-20 08:13] vivekratnavel commented on #51
Fix released in [v0.10.1](https://github.com/vivekratnavel/omniboard/releases/tag/0.10.1)

[2019-01-20 08:13] #51 closed

[2019-01-20 15:35] kilsenp commented on #39
Yes, thanks for testing. The update call was not exactly right, but now it is working for me.
I haven't spent any time that those calls work in every edge case, for example when for some reason no record has been created yet. I only tested the cases that the run was interrupted or finished, both worked just fine.
I created a pull request, but the repo seems quite inactive. So I don't know how fast

[2019-01-20 18:39] khaledvic opened #54 "Suggestion: being able to add columns from the run info"
I think it would be useful to be able add columns using the "+/- Config Columns" from the run_info or even from any other key from the mongodb document(without the prefix run.config).
For example: I can log or calculate some values from the run like the last loss.

Also I think it would be useful to have other maxima from the metric column like "last value"

[2019-01-20 21:54] khaledvic commented on #39
Thank this seems to solve the problem!

[2019-01-20 22:46] #45 closed

[2019-01-20 22:54] vivekratnavel commented on #45
:tada: This issue has been resolved in version 0.10.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/0.10.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-22 20:51] dwright37 opened #55 "Build plots from metric and config columns"
It would be useful to be able to generate plots based on metric and config columns. For example, if I have several runs with different learning rates where I am measuring F1 score, I would like to be able to generate a plot of "F1 vs. Learning Rate" for those runs. So it would involve:

- Ability to select a column to use as the X axis and a column to use as the Y axis
- Ability to filter which ru

[2019-01-23 08:42] #50 closed

[2019-01-23 11:04] Gonzalo933 opened #56 "Password protection"
I think it's interesting to have an omniboard served running in the cloud so I can access it from any computer, just connecting to the ip, without having to install it.

The problem is that there is not any security feature to prevent unauthorized access. I think an easy feature to implement would be a new launch option from the command line, for example:
` -p password`

With this option omniboard

[2019-01-23 21:22] kilsenp opened #57 "Feature Request: Live Update Table"
This does not have a high priority to me, but nevertheless would make the overall experience nicer.

I keep reloading omniboard to see
- new experiments
- new results
- current progress

Therefore, it would be very convenient, if running experiments would update continuously while they are running until they finish.

This is similar to #2 but that it is not just for Captured Out but for the whole

[2019-01-27 01:38] Louis-Tian commented on #54
Second the idea. A use case, I am facing is to log the number of parameter in the model. This value can be retrieved at runtime after the model is built.

[2019-01-28 21:20] jykzel opened #58 "Sorting of duration not considering h,m,s"
It's not sorting according to the actual duration.

![omniboard_duration](https://user-images.githubusercontent.com/7493878/51867085-96574600-2318-11e9-854a-67a1a7a3b85e.png)

Cheers.

[2019-01-29 16:49] rajatvd opened #59 "Connecting to admin database instead of sacred"
When I run this command (from the [Quick Start](https://vivekratnavel.github.io/omniboard/#/quick-start)):

`omniboard --mu mongodb://user:pwd@host/admin?authMechanism=SCRAM-SHA-1 sacred`

Omniboard is connected to the admin database instead of the sacred database.

[2019-01-29 17:02] rajatvd commented on #59
Fixed it by running

`omniboard --mu mongodb://user:pwd@host/sacred?authSource=admin`

Instead

[2019-01-29 17:02] #59 closed

[2019-01-29 17:07] matzek92 commented on #47
I'm facing the same problem. My database currently has around 150 entries. Starting omniboard with --max-old-space-size=16384 option for nodejs increases the memory. But omniboard is very slow and produces sometimes produces some other errors. Is it possible that (many) artifacts or large logfiles cause the problem? (I use version 0.11.0 from npm)

[2019-01-30 05:48] vivekratnavel commented on #47
@matzek92 What other errors are you getting? Roughly how many artifacts do you have per run? Large log files shouldn't affect performance since they are fetched only after any particular row is selected.

[2019-01-30 12:44] #58 closed

[2019-01-30 12:53] vivekratnavel commented on #58
:tada: This issue has been resolved in version 0.11.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/0.11.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-30 12:53] vivekratnavel commented on #43
:tada: This issue has been resolved in version 0.11.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/0.11.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-30 13:08] matzek92 commented on #47
Currently I do store validation results and model parameters as artifacts.
- On Average there are ~100 validation result files. Size (~1MB each)
- I save 3 models as artifacts (initial, best on validation, final). Size (~50MB-300MB each)

Most of the time the Browser tabs ran out of memory.

[2019-01-30 13:11] matzek92 commented on #47
Here is another one:

http://127.0.0.1:9000/api/v1/Runs?select=_id,heartbeat,experiment,command,artifacts,host,stop_time,config,result,start_time,resources,format,status,omniboard,metrics,meta&sort=-_id&query=%7B%22$and%22:[%7B%22_id%22:%7B%22$eq%22:49%7D%7D]%7D&populate=metrics net::ERR_CACHE_WRITE_FAILURE 304 (Not Modified)

[2019-01-30 21:51] jykzel opened #60 "Feature Request: Comparing specified runs (similar to shopping cart comparison)"
Similar to the feature many online shops have, it might be useful to have a button to compare multiple selected runs (using a checkbox) . This could be shown in an overlay.

![image](https://user-images.githubusercontent.com/7493878/52014997-f3850000-24ae-11e9-9772-283bde501e65.png)

Changed values could be highlighted with a specific color.

[2019-01-31 03:15] vivekratnavel commented on #47
@matzek92 Does your browser tab crash when you try to browse `artifacts` or does it crash always?

Artifacts are loaded only when you click on any row and select `Artifacts` tab. Are you able to see the list of runs initially?

[2019-01-31 17:16] vivekratnavel commented on #52
Closing this as there was no response for two weeks.

[2019-01-31 17:16] #52 closed

[2019-02-01 05:51] rajatvd commented on #60
Perhaps comparing metric plots can be done like comparing envs in [visdom](https://github.com/facebookresearch/visdom). That's the only neat feature of visdom which prevents me from completely switching to omniboard.

[2019-02-01 14:52] matzek92 commented on #47
Most of the time the tab already crashes before due to OUT_OF_MEMORY errors.

[2019-02-06 13:22] JarnoRFB commented on #47
I get the same error with 8500 entries.

[2019-02-07 09:53] EmanueleGhelfi opened #61 "Feature request: Add tag and notes while experiment is running"
It would be useful to allow the users to add tag and notes while the experiment is running.
At the moment I can add tag and notes but as soon as I refresh the omniboard page the tags and notes disappear.

[2019-02-07 09:54] khaledvic commented on #61
check issue #39 , @kilsenp solution works!

[2019-02-07 09:56] EmanueleGhelfi opened #62 "Feature request: Display image artifacts"
While working with some generative model (like GAN) it would be useful to inspect the images generated by the model. At the moment I'm saving them as artifacts into sacred.
If I save a large number of artifacts omniboard crashes.
It would be useful to display image artifacts as images in omniboard.

[2019-02-07 10:02] EmanueleGhelfi commented on #61
So this is actually related to sacred. Should I install the sacred version linked in the issue?

[2019-02-07 10:04] khaledvic commented on #61
Either use his fork or redo the changes (```replace_one``` to ```update_one```).

[2019-02-07 10:04] EmanueleGhelfi commented on #61
Thank you!

[2019-02-07 10:04] #61 closed

[2019-02-08 09:25] saluto commented on #60
That's a great idea! Comparing parameters and metric plots (like in Visdom) across runs is currently the most important thing I'm missing in Omniboard. Does anyone plan to investigate it? I would really appreciate that a lot.

[2019-02-08 09:30] saluto commented on #55
That could be related to/combined with #60. I would love to use these feature!

[2019-02-08 09:32] matzek92 commented on #47
I do capture many metric values so maybe the "populate=metrics"  might cause some of the performance problems. (see the http request posted above)

[2019-02-08 11:38] Gonzalo933 opened #63 "Page not loading after adding filters"
This issue is really hard to reproduce as it seems to happen randomly to me.

Sometimes when I add some filters and reload the webpage it shows for a second and then goes white. There is no error in the console and the only way to fix it is deleting the cookies/stored data from my browser.

This is the output of the console (with the request decoded to be legible):

[2019-02-08 19:38] vivekratnavel commented on #63
@Gonzalo933 I think it is because you have selected `COMPLETED, FAILED, INTERRUPTED, TIMEOUT` statuses from `Status` filter and have `status: RUNNING` selected in the advanced filter. You have to either remove `RUNNING` from advanced filter or add `RUNNING` to the status filter to see valid results. You see a blank page because the above query will return zero rows.

[2019-02-08 20:16] vivekratnavel commented on #62
@EmanueleGhelfi Which extension do you use to save your image artifacts? And how big are those image files? Omniboard tries to display images of known formats. Performance issue is being tracked via #47

[2019-02-08 20:25] vivekratnavel commented on #47
I am working on a patch to improve performance. Here is my approach -

- Instead of fetching all artifacts when user clicks on `Artifacts` tab, fetch only metadata of artifacts to display the accordion of artifacts.
- Use infinite scrolling ([React List](https://github.com/coderiety/react-list)) to render accordions instead of native react rendering to better support large number of artifacts
- Fe

[2019-02-08 20:32] Gonzalo933 commented on #63
That may be the problem (but I don't remember changing the status filter), the thing is that is not possible to change the filters anymore as just a blank page is shown (full white, no headers, no empty tables, nothing)

[2019-02-08 21:02] vivekratnavel commented on #63
I see. I will try to reproduce this issue and update you. Until then, you can clear application storage in the browser manually or open a new incognito window. Cheers!

[2019-02-08 21:07] matzek92 commented on #47
@vivekratnavel
I just tested removing the mongoose autopopulation of the metrics. That immediately solved the memory issues for me. Uncommenting line 191 in web/src/components/RunsTable/runsTable.js does the job.
[code]
I  think that was the main reason for the memory problems I explored.

The performance optimizations for Artifacts would be great as well.

[2019-02-08 21:29] EmanueleGhelfi commented on #62
I'm using sacred for saving my artifacts. I'm saving images as PNG but
omniboard does not show me the images, only the file name in the artifacts
section. I can download them but it's not an optimal procedure.

On Fri, Feb 8, 2019, 21:16 Vivek Ratnavel Subramanian <
notifications@github.com> wrote:

[2019-02-08 22:27] vivekratnavel commented on #62
Are your image files greater than 2MB?

[2019-02-09 04:20] EmanueleGhelfi commented on #62
The should be in the order of some KB. Is there a limit for the image size?

On Fri, Feb 8, 2019, 23:27 Vivek Ratnavel Subramanian <
notifications@github.com> wrote:

[2019-02-10 01:57] vivekratnavel commented on #62
@EmanueleGhelfi There is no limit on the size of the images, but the data is stored in chunks in the database. If your image size is in the order of KBs, chunk size shouldn't really matter and I don't understand why you are not able to view the images. Can you check if you have any errors in the browser console or the server logs?

[2019-02-11 07:20] EmanueleGhelfi commented on #62
There are no errors in the server output or in the console log.
The problem is that my image is interpreted as .txt instead of .png.
Omniboard is  displaying this:
![image](https://user-images.githubusercontent.com/16719271/52549904-e54fb180-2dd5-11e9-8c11-f376c89d4889.png)

My code is:
[code]

[2019-02-11 09:29] EmanueleGhelfi commented on #62
The bug was caused by the missing artifact extension. I fixed this error with:
[code]
Basically the only thing to do is add the extension to the name of the artifact.

[2019-02-11 09:29] #62 closed

[2019-02-11 10:58] vivekratnavel commented on #62
@EmanueleGhelfi Yes, without an extension, Omniboard cannot identify images and tries to render as text. You figured it right!

[2019-02-12 10:38] khaledvic opened #65 "Filtering with boolean values doesn't work"
When adding a new filter for a column with boolean value. both `column==true` and `column==fasle` yield zero results.

[2019-02-14 17:00] kirk86 opened #66 "Feature request: multiple select"
Hi and thanks for omniboard.
I was wondering if it isn't much trouble to add the option of multiple select for ether deleting or editing experiments.

The other thing that would be interesting is how can someone add additional plots for an experiment?

[2019-02-14 20:37] keithcallenberg commented on #56
I agree that this is a fairly common need and _could_ be answered as a feature in omniboard. I do want to say that there are a lot of different scenarios other users may have, and so in the meantime at least, I'd suggest protecting with a reverse proxy, e.g. [oauth2_proxy](https://github.com/pusher/oauth2_proxy).

[2019-02-15 15:53] kirk86 opened #67 "Feature request: plz allow for adding additional columns from run.info"
Hi,
I was wondering whether it would easy enough to allow for additional arbitrary columns to show up fetched from `run.info` dictionary when saved using `sacred`. That would be very handy since ppl always save additional customized info there.

Thanks!

[2019-02-15 16:10] khaledvic commented on #67
I think duplicate to #54

[2019-02-16 21:38] eukaryote31 opened #68 "Feature request: Keep opened run info open after page refresh"

[2019-02-18 08:49] Gonzalo933 commented on #56
In the meantime I am using this: https://docs.nginx.com/nginx/admin-guide/security-controls/configuring-http-basic-authentication/

It's easy to add if you are using Nginx

[2019-02-18 23:27] #67 closed

[2019-02-19 08:05] khaledvic opened #69 "Feature Request: being able to dynamically choose database or import/export browser local data"
Since my mongo database become bigger, I'm splitting each group of related experiments to their own database.  I have to choose different port for each database because of the local data Omniboard stores for each database in the browser. However, as the number of databases become larger it becomes harder to keep track of ports (which for which database).

I don't know what are the best practice to

[2019-02-19 16:07] kilsenp commented on #39
The change got merged to sacred today.

[2019-02-19 19:31] vivekratnavel commented on #69
@khaledvic
`Saving views in mongo db with an option to switch between views` looks good to me.

Saving a view in Omniboard will save the following:
- Column order
- Show/hide columns
- Column resizing
- Column sort order
- Status filters and advanced filters

Is there anything more you would like to add?

[2019-02-20 09:49] khaledvic commented on #69
That looks good. I think also it may be useful to store custom and metrics columns

[2019-02-20 15:27] vivekratnavel commented on #69
Custom config columns and metric columns are already being saved in Mongodb. They won't be part of a view.

[2019-02-20 18:38] WasifurRahman commented on #65
Hi, I am also facing the same issue. Is there any workaround to this issue?

[2019-02-23 10:44] pkern90 commented on #60
Could look like in the video:
https://youtu.be/xaybRkapeNE?t=74

Basically:
- Combining the plots into one chart
- Showing a diff of the configs
- Showing a diff of the source files (similar to git diff)

[2019-03-01 07:16] Chenguoqing2008 opened #70 "Using Kubernetes to run Omniboard latest image, previous issue raise"
I am using Kubernetes to run Omniboard latest image
[code]

but i found that the previous version issues still exist. Such as it can't filter the experiment by "Running" status.

Can you double check it whether the image was build correctly? Thanks.

[2019-03-01 07:42] vivekratnavel commented on #70
What is the error you are getting? Can you post some screen-shots?

[2019-03-01 07:48] vivekratnavel opened #71 "Artifacts tab should not load all artifacts by default and should improve performance"
Artifacts / Source Files view should not load all file contents by default.

- Download / Download All should stream data from server and not crash the browser

[2019-03-01 07:52] #71 closed

[2019-03-01 07:54] vivekratnavel commented on #47
These performance optimizations were committed as part of #71

[2019-03-01 08:00] vivekratnavel commented on #71
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-01 08:16] Chenguoqing2008 commented on #70
Filtering by "Interrupted" the error is:
Error: Cannot read property 'find' of undefined

Server log:

::ffff:127.0.0.1 - percolata [01/Mar/2019:08:12:18 +0000] "GET /api/v1/Runs?distinct=omniboard.tags HTTP/1.0" 304 - 2.318 ms
::ffff:127.0.0.1 - percolata [01/Mar/2019:08:12:18 +0000] "GET /api/v1/Omniboard.Columns HTTP/1.0" 304 - 9.922 ms
::ffff:127.0.0.1 - percolata [01/Mar/2019:08:12:18 +0000]

[2019-03-01 08:25] vivekratnavel commented on #70
Can you open browser console and paste the screen-shot of the errors if any?

Also, I want a screen-shot of network tab with its response for "Runs" after you selected status filter as "Interrupted"
Like this -
<img width="1440" alt="screen shot 2019-03-01 at 12 23 41 am" src="https://user-images.githubusercontent.com/1051198/53625646-81d8c880-3bb8-11e9-86e4-87283ec14be7.png">

[2019-03-01 20:29] keithcallenberg opened #72 "Omniboard crash related to showing Tags column"
Omniboard is crashing at the Javascript layer whenever the Tags column is shown. If I reload the page with a window size so narrow that the Tags column does not show, the page loads fine:

![image](https://user-images.githubusercontent.com/999275/53664283-17666d80-3c36-11e9-8c45-63d99c865c50.png)

But if I increase the window width, I get a blank page with the following javascript error:

![image]

[2019-03-01 20:36] vivekratnavel commented on #72
Which version of Omniboard is this? And can you try resetting the cache (https://vivekratnavel.github.io/omniboard/#/troubleshooting?id=reset-cache) ?

[2019-03-01 20:54] keithcallenberg commented on #72
I just reset my cache and that did not resolve the issue. We are using the "latest" docker tag and just redeployed today so I think it is Omniboard 1.0.

We deleted all recent experiments and the error went away. Now we are trying to reproduce the error. The error comes back when we try to set "tags" as a Sacred config parameter. We had already been doing this successfully with the "notes" column

[2019-03-05 14:03] shoeffner commented on #47
Using the docker image from 4 days ago (coinciding with https://github.com/vivekratnavel/omniboard/issues/47#issuecomment-468576383) I get the same error with about 250 rows (maybe even earlier, I didn't check it in the evening but only when I got back in the morning when more than 200 rows were already populated).

To reproduce the error you can try https://github.com/shoeffner/gan_table_setting:

[2019-03-05 18:11] vivekratnavel commented on #47
@shoeffner I have added unit tests to @matzek92's patch and is ready to be merged. It should definitely improve the performance.

[2019-03-05 23:59] eukaryote31 opened #73 "Running average on graph"
Would be really helpful for long running experiments with quite a bit of noise, so they don't end up looking like this:
![image](https://user-images.githubusercontent.com/10374151/53845858-ec4a8980-3f67-11e9-81b7-45871a3eb9fa.png)

[2019-03-06 02:46] vivekratnavel commented on #73
@eukaryote31
Could you please elaborate on what exactly do you want as a feature?

Do you want to see a graph with `Running Duration` across all the experiments?

[2019-03-06 02:48] eukaryote31 commented on #73
I want to be able to have an exponential moving average line imposed on top
of my metric graph and make the original faded.

Vivek Ratnavel Subramanian <notifications@github.com> schrieb am Di., 5.
März 2019, 19:46:

[2019-03-06 04:20] #47 closed

[2019-03-06 04:29] vivekratnavel commented on #47
:tada: This issue has been resolved in version 1.0.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/1.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-06 11:36] albertocarot1 commented on #69
That would be a very useful feature indeed!
especially when omniboard is served.

[2019-03-07 10:32] kilsenp opened #75 "Suggestion: Pin run id column"
Hi,

often times I find it difficult to read the results for a run when having a lot of columns because I have to remember the exact row.
While rows are kind of color coded, it would be easier, if the run id would also be pinned similar to the dropdown icon. That column is still quite small so it should not take away too much space.

What do you think?

[2019-03-08 00:36] jacobcarvell commented on #41
I am having the same issue and in the azure docs it mentions that the distinct call is only available in the aggregation pipeline (see [here](https://docs.microsoft.com/en-us/azure/cosmos-db/mongodb-feature-support). On that page there is also a link for how to enable the aggregation pipeline. Unfortunately I am not able to access the azure portal myself and so I have not yet been able to test the

[2019-03-08 03:41] jacobcarvell commented on #41
Update: I can confirm that enabling the aggregation pipeline solves the above issue and recommend that this be closed.

[2019-03-08 05:37] vivekratnavel commented on #41
Thanks @jacobcarvell !

[2019-03-08 05:37] #41 closed

[2019-03-09 08:36] #65 closed

[2019-03-09 08:44] vivekratnavel commented on #65
:tada: This issue has been resolved in version 1.1.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/1.1.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-09 08:47] #39 closed

[2019-03-09 08:52] #75 closed

[2019-03-09 09:01] vivekratnavel commented on #75
:tada: This issue has been resolved in version 1.1.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/1.1.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-09 09:02] vivekratnavel commented on #63
I am not able to reproduce this error. Reopen this if it can be reproduced.

[2019-03-11 02:08] danielcrane commented on #48
I'm also experiencing the same.

[2019-03-11 13:59] elbaro commented on #73
See the screenshot:
https://github.com/plotly/dash-live-model-training

This is called smoothing in tensorboard:
https://stackoverflow.com/questions/42281844/what-is-the-mathematics-behind-the-smoothing-parameter-in-tensorboards-scalar

[2019-03-12 05:55] vivekratnavel commented on #48
This a bug in Fixed data table 2 - https://github.com/schrodinger/fixed-data-table-2/issues/360

They claim to have resolved this issue in v1.0, but since it is still in beta, I am going to wait until stable release for migration to v1.0

[2019-03-13 07:38] #57 closed

[2019-03-13 07:40] vivekratnavel commented on #57
Auto reload options are added to the top right corner of Omniboard. Enabling auto reload will refresh the table every 30 seconds.
<img width="405" alt="Screen Shot 2019-03-13 at 12 39 00 AM" src="https://user-images.githubusercontent.com/1051198/54261219-724a6f80-4528-11e9-9c14-4a9fec2642eb.png">

[2019-03-13 07:47] vivekratnavel commented on #57
:tada: This issue has been resolved in version 1.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/1.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-17 06:53] vivekratnavel commented on #68
@eukaryote31 You can now use the "Reload" button in top right corner instead of page refresh and that will maintain the state of opened run info.

<img width="403" alt="Screen Shot 2019-03-16 at 11 51 33 PM" src="https://user-images.githubusercontent.com/1051198/54486523-a84c6400-4846-11e9-8160-c114863d775c.png">

[2019-03-17 06:53] #68 closed

[2019-03-17 20:11] kilsenp commented on #57
Hi vivetkratnavel,

thank you for working on this!

One major problem with the current implementation is, that it reloads no matter if you are currently checking some experiment.
This makes it kind of annoying and I actually have this function turned off right now.

I am suggesting that instead of reloading full page, it should only refresh each entry.
I had looked into it myself, and currently it

[2019-03-18 00:21] vivekratnavel commented on #57
@kilsenp I agree with you that this might be an annoying user experience when the user is looking at any experiment.

Could you please elaborate on what data you want to refresh on each entry?

While on "Captured Out" tab, the logs get automatically refreshed for "running" experiments. Updates to other tabs like "Metrics Plot" and "Artifacts" for running experiments might be useful.

But, in gener

[2019-03-18 01:23] kilsenp commented on #57
Thanks for coming back to this.

For me it would be most importantly the columns of each 'active' run. That would then be mainly metric columns, later if they are added, run info columns. Basically everything that might change while the experiment is still running.
So not for the view you get, when a run is expanded (that's another story) but just the current table view.

I don't quite understand

[2019-03-18 01:44] vivekratnavel commented on #57
@kilsenp Yes, updating data array is the straightforward way.

Let's take an example where runId's 5 & 6 are in "running" state.

One way to update the data array is to constantly poll the server for run Ids 5 & 6 every "x" seconds until they transition to "completed" state.

Another way is to use web sockets. In this case, when database is updated, server will push data to clients. So, there is n

[2019-03-18 10:35] kilsenp commented on #57
Okay, thanks for the clarification.

To me, it seems not necessary to use web sockets.

- sacred updates anyway only every 10s
- Having immediate updates does not seem to be very important when running experiments. To me updates every 30s would be fine.

Regarding the websockets: Then the server has to query the database every few seconds, doesn't it?

MongoDB provides something like a streaming A

[2019-03-18 17:03] vivekratnavel commented on #57
@kilsenp Yes, to use the streams API, we can use web sockets. With web sockets, the server won't have to query the database every few seconds. Web socket connection will listen to MongoDB stream and emit data to clients. Read more about web sockets here - https://medium.com/platform-engineer/web-api-design-35df8167460

[2019-03-18 17:31] kilsenp commented on #57
Okay, well nevertheless, you were saying this requires a major rewrite.
And that would be on top of providing the live functionality.

I think it might be easier to first implement it with a fixed time interval. This should already be enough for most people.

Then at some later point switch to change change streams api.
If you are saying that this can be done in one anyway, I obviously don't want

[2019-03-18 17:45] vivekratnavel commented on #57
Got it! I have started to experiment with web sockets. I will update how it goes. If it is too complex, I will switch to long polling.

[2019-03-19 10:34] #70 closed

[2019-03-19 17:13] danielzuegner opened #77 "Display a collection other than 'runs'"
Hi,

Is there a way to display the results in a collection other than `runs` in omniboard? That would be very useful for me as I store the results of different kinds of experiments in different collections.

Thanks!

[2019-03-21 17:18] thibaudmartinez commented on #59
I encountered the same problem when trying to connect to MongoDB Atlas and Azure Cosmos DB.

Simply using the aforementioned syntax :
`omniboard --mu mongodb://<user>:<pwd>@<host>/<database>[?<optional query parameters]`
solved the problem.

Updating the Quick Start in the doc would probably be helpful to people.

[2019-03-21 17:26] vivekratnavel commented on #59
@thibaudmartinez Thanks for reporting! Can you create a PR? Quick start lives here - https://github.com/vivekratnavel/omniboard/blob/master/docs/quick-start.md

[2019-03-22 13:01] thibaudmartinez commented on #59
@vivekratnavel Here it is #78 !

[2019-03-22 16:22] vivekratnavel commented on #59
Thanks @thibaudmartinez !

[2019-03-22 17:12] thibaudmartinez commented on #59
@vivekratnavel Thank you for your work on Omniboard! It's great!

[2019-03-25 11:50] Haetsal-Lee opened #79 "How could I change timestamp to show my local time?"
Currently it show start/end _time in UTC. And I wish I could see those times in my local time.
Is there a way to change the way how omniboard shows timestamp in local manner?

[2019-03-25 13:34] Haetsal-Lee opened #80 "Condemn PROBABLY_DEAD status when there is no heartbeat."
![2019-03-25 22_28_20-Omniboard - Chrome](https://user-images.githubusercontent.com/12162593/54923312-5b0a7980-4f4d-11e9-9471-3b87564f66db.png)

https://github.com/vivekratnavel/omniboard/blob/cee7738ad51ac4e9940acc971663955a08c89189/web/src/components/Helpers/utils.js#L51-L53

I think current if-statement for PROBABLY_DEAD should be changed to be able detect the case like above images. (when ther

[2019-03-26 12:11] Gonzalo933 commented on #63
Well I still have the bug and found out that there is a traceback in my browser console (it's kind of obscured though):

`TypeError: "t.getObjectAt(...) is undefined"
	value http://127.0.0.1:9000/static/js/main.6b74bbb1.js:1:946890
	Cn http://127.0.0.1:9000/static/js/main.6b74bbb1.js:1:457752
	Dn http://127.0.0.1:9000/static/js/main.6b74bbb1.js:1:463362
	n http://127.0.0.1:9000/static/js/main.6b74

[2019-03-26 15:35] vnmabus commented on #63
This also happens to me if I use Firefox. I am using Omniboard on Chrome to prevent that.

[2019-03-27 00:11] vivekratnavel commented on #63
@Gonzalo933 @vnmabus Can you post the server log and network console in Chrome when this happens?

[2019-03-27 10:07] jbj2505 opened #81 "Feature Request: Access Resources from Run Details"
It seems to me like I cannot access files that were added to the experiment, using the [add_resource()](https://sacred.readthedocs.io/en/latest/apidoc.html#sacred.Experiment.add_resource) method. At least, there is no tab called "Resources" in the run details.
![image](https://user-images.githubusercontent.com/25852654/55067685-7033f500-5080-11e9-9a4b-9f2df6387587.png)
It would be very useful to m

[2019-03-27 10:51] SchJens commented on #60
I really, really am looking forward to the option of comparing multiple experiments!! For me, this is the most important value to get out of experiment tracking. I have done a lot of research for alternatives to Sacred+Omniboard, and all of them somehow suck. Sacred+Omniboard could be the perfect tool if comparison of runs was possible! Directly plotting e.g. accuracy as a function of the model pa

[2019-03-31 03:36] vivekratnavel commented on #79
@Haetsal-Lee This could be tricky, since Omniboard doesn't know which timezone the server is in. If Omniboard shows time in UTC, it is because your sacred experiments ran in a server that is in UTC timezone. As a workaround, you can try switching your server timezone to suit yours.

[2019-03-31 04:38] vivekratnavel commented on #63
I tried to reproduce this error in Firefox, but unable to.

@Gonzalo933 Can you give the exact steps to reproduce this issue?

[2019-03-31 05:01] Haetsal-Lee commented on #79
@vivekratnavel But I have never set my MongoDB server time in UTC.

- None of my four environments, MongoDB client, server, Omniboard client and server have been in UTC.
- And as far as I know, when we save Timestamps instance to MongoDB, they are converted to UTC.
- And also sacred itself save times in UTC ([sacred code](https://github.com/IDSIA/sacred/blob/59b6dee67bcb92e82e6e8ea63a8d8d8b6105d67

[2019-03-31 06:32] vivekratnavel commented on #79
@Haetsal-Lee Thanks for bringing this up! I just ran an experiment and can confirm that the timestamps are stored in UTC. I did not notice it until now. I was always under the impression that the timestamps are stored in server timezone.

I will work on adding an option to change the timezone.

[2019-04-02 10:34] Gonzalo933 commented on #63
I have tried but it's not possible to find steps to reproduce it. It seems to happen randomly when messing with filters. I will keep trying

[2019-04-02 12:18] Darthholi opened #82 "Link to a specific job info in omniboard"
Is there a possibility to display only information from a specific job in omniboard? And to acces it later using some url?
Or eventually where to look in the code to add it?

[2019-04-03 00:18] vivekratnavel commented on #63
Thanks @Gonzalo933! Also, please capture the last request and response in network tab, and console tab. That will help a lot with debugging.

[2019-04-03 00:31] vivekratnavel commented on #82
@Darthholi  You can use filters to filter on id to display information only about the filtered job id.

To have reusable url support, we can use something like - https://www.npmjs.com/package/react-query-params to set query params and read from query params instead of reading from state for filters.

[2019-04-03 08:12] Haetsal-Lee opened #83 "Feature Request: The best way to store structured data like confusion matrix?"
Currently, I am exporting artifact( conf_map.html made with plotly.js) for every experiment.
With this, I can download and load confusion matrix and hovering on data points (It would be difficult to read confusion matrix if you save them in image file).
But as you know there will be many redundant html with this way. Could we have a feature like, by setting tag (e.g. cm) with data(e.g. [4,0,0,4]),

[2019-04-03 10:10] #79 closed

[2019-04-03 10:19] vivekratnavel commented on #79
:tada: This issue has been resolved in version 1.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/1.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-03 12:54] Darthholi commented on #82
Oh thanks! I have actually no idea on how to use this type of web developement packages, so I might ask somebody else or say 'pretty please implement it' :D

[2019-04-04 05:03] vivekratnavel commented on #66
Related to #60

[2019-04-05 10:24] vivekratnavel opened #85 "Make auto refresh interval configurable in settings"

[2019-04-05 10:37] #85 closed

[2019-04-05 10:47] vivekratnavel commented on #85
:tada: This issue has been resolved in version 1.4.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/1.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-07 10:17] mdbenito opened #87 "Out of memory (server) and slow interface"
Hi, I'm running Omniboard 1.4.0 from the docker image using docker-compose and it's being very useful, thanks!

However, with a medium database (~2K objects) and default memory settings for node.js omniboard sometimes fails to even load. Each run contains many metrics and artifacts and is pretty heavy.

"Sometimes failing" means that from a fresh tab and freshly started server, I have out of memor

[2019-04-07 17:24] vivekratnavel commented on #87
Hi @mdbenito,

Thanks for the detailed logs. I will definitely take a look at this.

I think the best way to tackle this issue is to have support for pagination. I will look into the feasibility of supporting pagination. Also, is it possible for you to send a dump of your database after stripping any sensitive data to my email? It would greatly help with testing performance quickly.

[2019-04-08 22:11] kilsenp opened #88 "Modify filter instead of delete"
Hey,
I'm currently using omniboard a lot to check through my experiments.

For usability, it would be quite convenient to be able to modify a filter instead of deleting.

Currently, when a filter is applied I have to delete it, which triggers a reload before I can add a new filter.
Often times, I only want to change the value of the filter, then going through this process is not very convenient.
I

[2019-04-08 22:38] vivekratnavel opened #89 "Load only new runs and updates to running experiments while auto refresh"
Currently, auto refresh fetches all the runs in configured intervals. This should be changed to fetch only new runs and updates to existing running experiments.

[2019-04-08 22:40] vivekratnavel commented on #57
Web sockets cannot be used here since we don't have native support from mongodb to stream new entries to the database.

I have created #89 to track this enhancement.

[2019-04-09 20:21] rrkarim opened #90 "Additional tabs alongside with Metric plot"
![image](https://user-images.githubusercontent.com/11855380/55832379-220dff80-5b1e-11e9-8065-930c40afe531.png)
Is there any possibility to add an additional tab alongside "Metric plot" to plot any other information about an experiment?

[2019-04-12 08:07] #89 closed

[2019-04-12 08:17] vivekratnavel commented on #89
:tada: This issue has been resolved in version 1.5.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/1.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-12 10:40] avalcarce commented on #73
Having a controllable smoothing factor (0 to 1) to do this would be very helpful as well.

[2019-04-13 06:53] vivekratnavel opened #92 "Changing auto refresh interval does not reflect immediately"

[2019-04-13 22:50] #92 closed

[2019-04-13 22:59] vivekratnavel commented on #92
:tada: This issue has been resolved in version 1.5.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/1.5.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-16 06:07] Haetsal-Lee opened #93 "Feature Request: Show metadata(a dict we can pass with add_artifact) of artifact"
![image](https://i.imgur.com/5yTRvHl.png)
When we save artifact we can optionally pass metada of it.

It would be good if we can show metadadta.

[2019-04-16 12:56] Haetsal-Lee opened #94 "Bug? Can I add only one metric column?"
When I add another column, the column added I previously disappears. So I can see only one metric column.

[2019-04-16 13:31] #94 closed

[2019-04-16 16:46] vivekratnavel commented on #93
@Haetsal-Lee Could you please show how this metadata gets stored in mongodb?

[2019-04-17 02:27] Haetsal-Lee commented on #93
1. ![fs bucket](https://i.imgur.com/bhlshbf.png)
2. ![metadata](https://i.imgur.com/bHr6eA4.png)
3. ![fs.files](https://i.imgur.com/hau3coJ.png)

Above are images from Studio-3T (I got 1 year student license.).
The first image is shown when I click GridFS bucket.
The second image is displayed when I try to edit metadata of specific row in GridFS bucket.
The tired image is shown when I click fs.fil

[2019-04-19 05:22] #80 closed

[2019-04-19 05:31] vivekratnavel commented on #80
:tada: This issue has been resolved in version 1.5.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/1.5.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-21 20:49] mattdornfeld opened #96 "Feature Request: Tensorboard integration"
I’ve been using Sacredboard. It seems the community is moving towards this project now. I’ve been doing some analysis of the current landscape and I would be happy to switch over to omniboard if it supported tensorboard the way sacredboard does.

[2019-04-22 04:06] Haetsal-Lee commented on #96
@mattdornfeld What does Sacred do for tensorboard?

[2019-04-22 04:08] Haetsal-Lee commented on #37
@vivekratnavel  Currently, it does not delete associated source files (.py files)

[2019-04-22 06:23] vivekratnavel commented on #37
@Haetsal-Lee I would be happy to accept PR

[2019-04-22 06:50] vivekratnavel opened #97 "Delete experiment should also delete associated source files"

[2019-04-22 06:51] vivekratnavel commented on #37
Created #97 to track this issue

[2019-04-22 07:07] vivekratnavel commented on #96
@mattdornfeld Please explain how you would like Tensorboard integration with Omniboard. Do you want Omniboard to provide links to take you to the tensorboard url?

[2019-04-23 18:44] mattdornfeld commented on #96
@Haetsal-Lee Sacred will only keep track of where you store your Tensorboard logs. Sacredboard exposes a link that will create a Tensorboard server pointed to those logs. In the UI it looks like [this](https://imgur.com/a/rgcifYh).

@vivekratnavel I think something very similar to what Sacredboard would satisfy my needs. One thing I've been thinking about and I wonder if you have some thoughts on

[2019-04-30 23:37] flukeskywalker opened #100 "Feature request: Show experiment count"
It would be very useful to see a count of the experiments currently being displayed i.e. after applying all filters.

Using this feature, one could quickly check how many of the experiments on a cluster failed, or how many experiments were run with the certain config values. Ideally the count should be somewhere near the top of the page.

[2019-05-01 05:35] vivekratnavel commented on #100
@flukeskywalker I am already working on this along with another big feature. This will be fixed in the next release.

[2019-05-01 05:39] #56 closed

[2019-05-01 05:44] flukeskywalker commented on #100
Wonderful. And while I'm here, thanks for your work on Omniboard!

[2019-05-01 05:48] vivekratnavel commented on #56
:tada: This issue has been resolved in version 1.6.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/1.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-05 01:31] eukaryote31 opened #102 "Filter by duration"
Duration is not in the filters drop-down.

[2019-05-12 06:26] BTickell opened #103 "Variable row width."
It seems the notes feature doesn't allow for very long / detailed experiment notes. Is there a way to make more of the notes field visible in one view / make scrolling through a note easier?

[2019-05-12 23:06] benjamin9555 opened #106 "Install from source fails"
I've tried installing the package directly from git with
[code]
with the intention of later forking the project and making some minor changes to it.
However, I get
[code]
What am I doing wrong?
Could you please add instructions to the README on how to install from source?

[2019-05-14 08:57] vivekratnavel opened #107 "Discuss: Omniboard v2.0"
I am working on Omniboard v2.0 with huge performance improvements to fix #87.

To improve performance, I am moving all the client side computations to the server side. Major changes are listed below:

- Move sort from client side to server side
- Move computation of custom metric column aggregates from client side to server side
- Get paginated results and add infinite scroll to the client.
  - Fo

[2019-05-15 17:40] u39kun commented on #107
Thanks for the proposal and the heads up, @vivekratnavel !
I'm +1 on the approach and the requirement for MongoDB 4.0.
It would be good if the page size is adjustable.
For me, I would probably use up to 200.

[2019-05-15 19:40] berger-stx opened #108 "'Error: no response received from server'"
I apologize in advance that I am not able to provide detailed debug info at this time...  will try to provide it later

Here are my observations:

(on chrome and the latest image from dockerhub)

I've been using omniboard without hitch for some time. Today, it started failing with `Error: no response received from server' when you try to load details about an experiment, out of nowhere. No changes

[2019-05-16 08:59] khaledvic commented on #108
I had the same problem. after some debugging, it turned out that the ad-blocking plugin is blocking the requests,try disabling it if you have one.

[2019-05-16 14:19] berger-stx commented on #108
Ah! Brilliant! That did the trick.

[2019-05-16 14:19] #108 closed

[2019-05-17 16:16] #73 closed

[2019-05-17 16:26] vivekratnavel commented on #73
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/1.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-20 14:20] alpapado opened #109 "[Bug] - No response was received from the server"
This started happening recently and only when using **Firefox**.

While the list of experiments loads and shows correctly, I get an `Error: No response was received from the server` when trying to view a specific experiment from the list.

In addition, from the browser console I see that the GET request to read the specific experiment from MongoDB returns correctly with all the needed information

[2019-05-20 15:42] khaledvic commented on #109
maybe something similar to #108 , try to disable the ad-blocker.

[2019-05-21 08:02] alpapado commented on #109
That was indeed the issue. Disabling uBlock did the trick.
Thank you

[2019-05-21 08:02] #109 closed

[2019-05-23 14:33] daniel-sch opened #110 "Scrollbar inception makes the interface hard to use"
The size of the main table seems to be set slightly too big, so that the browser scrollbars are visible in addition to the scrollbars from react (that's where I think the inner scrollbars are from). This means that the inner scrollbars (that are needed to scroll the table) are only visible after scrolling the browser scrollbars to the bottom and right. Additionally, the mouse wheel doesn't work pr

[2019-05-23 14:36] daniel-sch commented on #103
Additionally on Firefox 67.0 on Windows 10 the text field is so large that the buttons are not visible without resizing the text field.

See this screenshot:
![grafik](https://user-images.githubusercontent.com/360180/58261557-d08d9d00-7d78-11e9-83a6-b1e52e9c80ea.png)

[2019-05-30 12:56] fepegar commented on #73
This is great. I'm trying `sacred` + `omniboard` for the first time. I use `omniboard` through `docker-compose` as explained [here](https://sacred.readthedocs.io/en/latest/examples.html#docker-setup). In the `docker-compose.yml` file, the `omniboard` image is `vivekratnavel/omniboard:latest`, but the version I'm using doesn't have this feature. I checked in [Docker hub](https://hub.docker.com/r/vi

[2019-05-30 20:43] vivekratnavel commented on #73
Hi @fepegar ,

Thanks for bringing this to my notice! There was an issue with dockerhub builds and I have fixed it now. You should be able to pull `vivekratnavel/omniboard:latest` and see the new changes.

Let me know if it still doesn't work.

[2019-05-31 10:01] fepegar commented on #73
It does work, thank you!

[2019-06-06 07:53] avalcarce commented on #110
Both of these problems also happen to me on Windows 7 and Chrome 74.

[2019-06-06 16:46] grwlf commented on #60
IMO metric plots comparision is more importan than original proposal. For now, this is the main feature missing which prevents us from migrating from tensorboard. It is very important to have an option to view metrics from different runs on the same grpah

[2019-06-07 18:45] CarloLucibello opened #111 "Omniboard not connecting to MongoDB in docker"
Hi, recently I have not been able to use omniboard since it just displays an essentially blank page just saying "loading".
This is happening when connecting to a very small database. No filters applied, just first connection to the server. The console is showing no error. Any ideas? How can I investigate the issue?

[2019-06-08 03:36] vivekratnavel commented on #111
It might be similar to #108 . Can you try disabling ad-blocker and try again?

[2019-06-08 07:24] CarloLucibello commented on #111
no luck

[2019-06-10 14:16] piotr-anyvision commented on #81
I second that!

[2019-06-10 14:17] SnowRipple commented on #81
Me too!

[2019-06-10 23:12] vivekratnavel commented on #111
Can you check the network console to see if there is any response received from the servers for the requests made? Which browser are you using? Can you try in incognito window?

Also, check omniboard server logs for any errors and post here.

[2019-06-13 12:46] razorx89 commented on #111
I am experiencing the same issue. When using the latest docker image it just displays an empty list with "loading". Chrome and Firefox, both, incognito and normal session.
[code]
`Omniboard.Columns` and `Omniboard.Settings` are listed as pending requests in the developer tools of chrome and as you can see from the above logs, both requests don't seem to be handled properly. However, downgrading th

[2019-06-19 05:21] vivekratnavel commented on #111
I looked further into this issue and found out that it is caused by Omniboard not connected to the Mongo DB. You should see this message in the server logs:
`Error: connect ECONNREFUSED <hostname>:<portname>`

 This is because Omniboard is not retrying to connect to Mongo after some timeout. I am working on a patch and will fix this soon.

@CarloLucibello @razorx89 Thanks for raising this issue!

[2019-06-19 08:23] #111 closed

[2019-06-19 20:34] MyadaRoshdi opened #112 "Add new column from host_info #add_column"
In my example, since we are multiple users and experiments are logged to the same mongodb, I added some extra values to host_info which shows up in the mongodb entry but I'd prefer to be able to add it as a column in omniboard. Is there a way to do that?

[2019-06-19 20:37] MyadaRoshdi commented on #54
Why this is closed ?!

[2019-06-20 08:02] CarloLucibello commented on #111
Thanks for the fix! Could you tag a new release?

[2019-06-20 17:33] vivekratnavel commented on #111
I am working on it. There seems to be an issue with signing commits with gpg in travis.

[2019-06-23 23:46] vivekratnavel commented on #111
:tada: This issue has been resolved in version 1.7.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/1.7.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-23 23:48] vivekratnavel commented on #111
@CarloLucibello @razorx89 Could you please try the latest version of Omniboard and verify if you are able to see the experiments?

[2019-06-27 16:37] CarloLucibello commented on #111
nay, unfortunately now I get an entirely blank screen

[2019-06-27 16:39] CarloLucibello commented on #111
[code]

[2019-06-27 16:56] CarloLucibello commented on #111
Also, I don't know how to handle this warning
[code]

[2019-06-27 17:23] vivekratnavel commented on #111
@CarloLucibello Do you see any errors in the browser console? Can you try incognito mode?

If the above doesn't work, can you try `yarn install -g omniboard`?

[2019-06-29 14:06] CarloLucibello commented on #111
I realized that omniboard is just ignoring the database name. I have all my runs in
the a mongodb database `dnn`, but omniboard seems to be defaulting
to a `sacred` database
[code]
In fact, a few runs which I observed in the `sacred` database correctly show up in omniboard

[2019-06-30 06:41] vivekratnavel commented on #111
@CarloLucibello Can you try `omniboard -m localhost:9000:dnn` or `omniboard --mu mongodb://localhost:9000/dnn` ?

[2019-06-30 08:39] CarloLucibello commented on #111
Ops, I forgot the `-m` flag indeed. But with either `omniboard -m localhost:9000:dnn` or `omniboard --mu mongodb://localhost:9000/dnn` I get the following error

[code]
These are different attempts where I get no errors but the runs don't show up in the dashboard
[code]
[code]
[code]

[2019-07-01 01:08] vivekratnavel commented on #111
@CarloLucibello Is your mongo running in docker? From the error, it looks like Omniboard is not able to connect to the mongo instance.

[2019-07-01 13:24] CarloLucibello commented on #111
No it's not running in docker. Also, my mongodb server seems to be allright, I can store  sacred expeimrents with the `-m` flag and retrieve them from the mongodb shell.I'm on mongodb 4.0

[2019-07-01 20:14] vivekratnavel commented on #111
That is strange. Can you try connecting to localhost:9000:dnn from another mongo client like `Mongo Express`?

[2019-07-03 10:48] nuth commented on #69
I've created a patch in my own fork at https://github.com/nuth/omniboard/pull/1 which I think could do what you want, by connecting to multiple databases, and expose each on their own path. It's a bit crudely done, but seems to work well.

It requires a new config file that looks like this:
`{
  "sacred": {
    "mongoUri": "mongodb://mongo/sacred",
    "path":"/sacred"
  },
  "sacred2": {
    "mon

[2019-07-17 02:20] ablacklama opened #115 "Select and delete multiple experiments at a time"
i've been racking up experiments (50ish) and with how long it takes to delete a single experiment, i can see it will take me a while to clean it up. Can you add the ability for me to delete some or all of the experiments at once?

[2019-07-18 00:17] AustinT commented on #110
I also have this problem on mac OSX, Firefox. Seems like it should be an easy fix, but I don't know anything about web development so I don't know how I would change it.

[2019-07-18 07:59] AustinT opened #116 "Metric Columns Blank"
For some reason when I go to add a metric column to Omniboard the column values are all blank. Here is a screenshot:

![Screen Shot 2019-07-18 at 5 37 31 pm](https://user-images.githubusercontent.com/22754579/61438553-1a62c000-a983-11e9-8180-6a3bef1accf5.png)

I am trying to find the maximum validation accuracy, which I have called val_acc. The plot in the picture clearly shows validation accuracy

[2019-07-18 09:58] vivekratnavel commented on #116
Hi @AustinT,

Could you please verify if metric columns work for some other metric?

[2019-07-18 10:10] AustinT commented on #116
Hi @vivekratnavel ,
I tried a bunch of metrics and nothing worked. Must be a problem with the database or accessing the database.

For what it's worth I could get into the database and find the metric values from a python shell, so the database should have the necessary content.

[2019-07-18 10:21] vivekratnavel commented on #116
That is strange. Can you share the response of `GET /api/v1/Runs?select=...` ?

You can get the response by opening Developer Tools in Chrome and looking at the Network tab.

Thanks!

[2019-07-19 00:31] AustinT commented on #116
There were a few different GET requests so I will list 2 that seem relevant. Note that for brevity I applied a filter to show only one experiment (`_id=118`).

**Request 1**
`http://localhost:9000/api/v1/Runs/118?select=captured_out,info,meta,host,experiment,artifacts,config,fail_trace,status`

Screenshot of chrome screen:
![Screen Shot 2019-07-19 at 10 23 18 am](https://user-images.githubusercont

[2019-07-20 08:59] vivekratnavel commented on #116
There is some mistake in your filter. From the query string parameters, the filter applied will not match any row: `_id=118 && (_id in []  || _id>118)`
Can you check your applied filters or try resetting the cache and then apply filter - https://vivekratnavel.github.io/omniboard/#/troubleshooting?id=reset-cache

I am interested in seeing the response for Request 2. Request 1 only gets triggered wh

[2019-07-22 00:57] AustinT commented on #116
Hello, that is strange that the request shows a mistake in the filters because when I applied that filter the table displayed fine. Nonetheless, I reset my cache like you asked, and reloaded the page to capture the response.

Request:
[code]

Response (paths edited for privacy):
[code]

[2019-07-26 06:25] vivekratnavel commented on #116
Hi @AustinT,

I was able to figure out the issue here. You have a config with name "metrics" and that messes up with the actual metrics fetched from Mongodb. Try changing the config to "metrics_name" or something else and it should work.

In this dataset, you have `"config.metrics": ["accuracy"]`. Let me know if it doesn't work after trying this workaround.

Cheers!

[2019-07-29 10:31] AustinT commented on #116
Hi @vivekratnavel,
Your fix worked! Changing the name from `metrics` to something else solved it. Thanks so much for looking into this; I will close this issue :)

[2019-07-29 10:31] #116 closed

[2019-07-29 12:19] pizzooid opened #117 "Close details when deleting"
When an experiment is deleted while the details are shown, the details from the deleted experiment keep being displayed. This is especially problematic because they are now shown under the header of a different experiment.

[2019-07-30 01:48] vivekratnavel commented on #106
Hi @benjamin9555 ,

To install Omniboard from source, you can clone the repo and install dependencies using yarn.

[code]

To install omniboard globally, you can run
[code]

You can then start omniboard with any supported arguments documented here - https://vivekratnavel.github.io/omniboard/#/quick-start?id=start

Please let me know if you still get an error.

[2019-07-30 01:53] vivekratnavel commented on #102
This was because, `duration` was a client side column and did not come from the server and could not be supported. I will try to support this feature in the next major release that I am working on, where all the filtering, sorting and computations will be moved to backend. #107

[2019-08-03 01:42] vivekratnavel commented on #69
@nuth I like this approach of having a config file. Your patch might need some more polishing and testing before we can merge. I am currently working on v2 #107 which involves a lot of code changes in both the server side and client side and I don't have time to review or test this approach. I would definitely be interested to take a look once v2 is released, which I am hoping to do in a couple we

[2019-08-03 19:18] vivekratnavel commented on #69
Also, I forgot to mention that the way state is stored in localstorage might cause an issue here. We will need to modify the localstorage keys to include paths like `/sacred`, `/sacred2`.

[2019-08-04 18:59] vivekratnavel commented on #97
This will be fixed as part of v2.0 #107

[2019-08-04 19:05] vivekratnavel commented on #117
This will be fixed as part of v2.0 #107

[2019-08-04 21:27] vivekratnavel commented on #102
This feature will be supported in v2.0 #107

[2019-08-04 21:33] vivekratnavel commented on #72
@keithcallenberg Omniboard does not yet support merging config.tags into its custom tags column. You can create a new issue as a feature request to support it. As a workaround, you can rename config.tags to something else for now and the app wouldn't crash.

[2019-08-04 21:46] eukaryote31 commented on #107
Will experiment resuming make it into this release?

[2019-08-05 17:49] vivekratnavel commented on #107
I am sorry, I don't understand. Can you explain a bit more on what you mean
by experiment resuming? Is there an open issue to track this?

On Sun, Aug 4, 2019 at 2:46 PM eukaryote <notifications@github.com> wrote:

--
Regards,
Vivek Ratnavel

[2019-08-05 17:50] eukaryote31 commented on #107
Sorry, my bad. Got stuff mixed up

Vivek Ratnavel Subramanian <notifications@github.com> schrieb am Mo., 5.
Aug. 2019, 11:49:

[2019-08-11 21:44] vivekratnavel commented on #87
This will be fixed in v2.0 #107

Filtering and sorting is moved to server side in v2.0 and this improves performance significantly.

[2019-08-11 22:05] vivekratnavel commented on #44
Omniboard v2.0 will use pretty-ms for duration. #107

[2019-08-29 00:23] flukeskywalker commented on #60
Completely support the above comments. Comparison of metrics is the biggest feature preventing my colleagues from switching to Omniboard.

[2019-08-31 19:59] vivekratnavel commented on #107
Omniboard v2.0.0-beta is out. You can try it out with either npm or docker - https://www.npmjs.com/package/omniboard/v/2.0.0-beta.2
Docker image - vivekratnavel/omniboard:beta
Source code is in branch 'beta' - https://github.com/vivekratnavel/omniboard/tree/beta

Please try it out and give feedback.

[2019-08-31 20:04] vivekratnavel commented on #87
Thanks @mdbenito for sharing your sacred database with me. It helped a lot in testing performance of Omniboard and paved a way for v2.0.0.

Omniboard v2.0.0-beta is out. You can try it out with either npm or docker - https://www.npmjs.com/package/omniboard/v/2.0.0-beta.2
Docker image - vivekratnavel/omniboard:beta
Source code is in branch 'beta' - https://github.com/vivekratnavel/omniboard/tree/be

[2019-08-31 20:05] vivekratnavel commented on #117
Omniboard v2.0.0-beta is out. You can try it out with either npm or docker - https://www.npmjs.com/package/omniboard/v/2.0.0-beta.2
Docker image - vivekratnavel/omniboard:beta
Source code is in branch 'beta' - https://github.com/vivekratnavel/omniboard/tree/beta

Please try it out and give feedback.

[2019-08-31 20:06] vivekratnavel commented on #102
Omniboard v2.0.0-beta is out. You can try it out with either npm or docker - https://www.npmjs.com/package/omniboard/v/2.0.0-beta.2
Docker image - vivekratnavel/omniboard:beta
Source code is in branch 'beta' - https://github.com/vivekratnavel/omniboard/tree/beta

Please try it out and give feedback.

[2019-08-31 20:07] vivekratnavel commented on #69
Omniboard v2.0.0-beta is out. You can try it out with either npm or docker - https://www.npmjs.com/package/omniboard/v/2.0.0-beta.2
Docker image - vivekratnavel/omniboard:beta
Source code is in branch 'beta' - https://github.com/vivekratnavel/omniboard/tree/beta

Please try it out and give feedback.

[2019-08-31 20:09] vivekratnavel commented on #69
@nuth Can you test the config changes against the branch 'beta' and create a PR against 'beta'?

I can now test the config changes and we can release it as part of v2.0.0

Thanks for your time and effort!

[2019-08-31 20:10] vivekratnavel commented on #44
Omniboard v2.0.0-beta is out. You can try it out with either npm or docker - https://www.npmjs.com/package/omniboard/v/2.0.0-beta.2
Docker image - vivekratnavel/omniboard:beta
Source code is in branch 'beta' - https://github.com/vivekratnavel/omniboard/tree/beta

Please try it out and give feedback.

[2019-08-31 21:59] nuth commented on #69
@vivekratnavel cool! I'll look at it ASAP, so in a week or two, since I'm deep into something else atm.

[2019-09-02 11:01] bmotevalli opened #118 "FATAL ERROR: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory"
Thanks for developing this interesting tool.

I have installed omniboard on windows machine to connect to MongoDB. Once the number of records exceeds few hundreds, I cannot connect through omniboard to my database and I get the following error:

FATAL ERROR: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory

any solution for this?

[2019-09-02 19:15] vivekratnavel commented on #118
Hi @bmotevalli,

Thanks for trying Omniboard! Which version did you try? Can you try the latest beta version?  https://www.npmjs.com/package/omniboard/v/2.0.0-beta.2
Docker image - vivekratnavel/omniboard:beta

Omniboard v2.0-beta addresses these performance issues as discussed in #107

Let me know if you get the same error in v2.0-beta. Thanks!

[2019-09-03 06:13] #107 closed

[2019-09-03 06:24] vivekratnavel commented on #107
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-09-03 06:31] vivekratnavel commented on #117
Fixed in v2.0.0 - https://github.com/vivekratnavel/omniboard/releases/tag/2.0.0

[2019-09-03 06:31] #117 closed

[2019-09-03 06:31] vivekratnavel commented on #102
Fixed in v2.0.0 - https://github.com/vivekratnavel/omniboard/releases/tag/2.0.0

[2019-09-03 06:31] #102 closed

[2019-09-03 06:33] vivekratnavel commented on #97
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/2.0.0)

[2019-09-03 06:33] #97 closed

[2019-09-03 06:35] vivekratnavel commented on #87
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/2.0.0)

[2019-09-03 06:35] #87 closed

[2019-09-03 06:35] vivekratnavel commented on #44
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/2.0.0)

[2019-09-03 06:35] #44 closed

[2019-09-03 06:36] #106 closed

[2019-09-03 06:48] vivekratnavel commented on #100
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/2.0.0)

[2019-09-03 06:48] #100 closed

[2019-09-03 06:49] vivekratnavel commented on #112
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/2.0.0)

[2019-09-03 06:49] #112 closed

[2019-09-03 06:54] vivekratnavel commented on #112
@MyadaRoshdi You can now add a custom column with any parameter. For example, to add hostname as a new column, you would add a custom column with path as `host.hostname`.

[2019-09-03 06:58] vivekratnavel commented on #63
Closing this now since I believe this will not happen in versions >=2.0.0

Feel free to reopen if you are facing the same issue.

[2019-09-03 06:58] #63 closed

[2019-09-03 06:59] vivekratnavel commented on #72
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/2.0.0)

[2019-09-03 06:59] #72 closed

[2019-09-03 07:03] vivekratnavel commented on #54
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/2.0.0)

[2019-09-03 07:03] #54 closed

[2019-09-03 07:05] vivekratnavel commented on #54
You can now add any custom column without the "config.*" prefix. For hostname as a new column, you would add a custom column with path as `host.hostname`

[2019-09-03 07:28] vivekratnavel opened #140 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `undefined` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure yo

[2019-09-03 07:29] vivekratnavel commented on #140
## :rotating_light: The automated release from the `undefined` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure yo

[2019-09-03 07:39] vivekratnavel commented on #140
## :rotating_light: The automated release from the `undefined` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure yo

[2019-09-03 10:25] #140 closed

[2019-09-03 10:50] vivekratnavel opened #143 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `undefined` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure yo

[2019-09-04 06:39] #143 closed

[2019-09-04 06:43] #103 closed

[2019-09-04 06:52] vivekratnavel commented on #103
:tada: This issue has been resolved in version 2.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/2.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-09-04 08:48] serhiy-yevtushenko opened #144 "Getting Error: Command Not Supported, when trying to connect to Azure Cloud Cosmos Mongo DB instance via docker"
Hi, I try to connect to Azure cloud cosmos (mongo DB) instance, which stores the results of the experiments, by using docker-compose with omniboard.

When doing so, I obtain the following exception in the omniboard (see attached picture):
![image](https://user-images.githubusercontent.com/4510224/64239727-08bc8400-cf01-11e9-9c2b-60dbbce075e0.png)

The mondo DB connection string, provided in docker

[2019-09-04 12:53] serhiy-yevtushenko commented on #144
Further clarification: Azure Cosmos DB supports only version 3.2 of Mongo DB Wire protocol (see https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/cosmos-db/mongodb-introduction.md)

I have tried as well running version 1.8.1 against Azure Cosmos DB mongo instance and still getting this error.

Could you please clarify, which version of OmniBoard is compatible with MongoDB Version 3.

[2019-09-04 13:04] rmclarke commented on #110
Am also not really familiar with web development, but I've been digging around and I think I might have worked out why the native vertical scrollbar appears.

As far as I can tell, this method in `web/src/components/RunsTable/runsTable.js` determines the main table's height by subtracting its vertical position from the total height available:
[code]

However, the Auto-Refresh line (a div with the

[2019-09-05 01:15] vivekratnavel commented on #144
@serhiy-yevtushenko Omniboard uses distinct queries and you will need to enable aggregation pipeline in Azure Cosmos - https://docs.microsoft.com/en-us/azure/cosmos-db/mongodb-feature-support#aggregation-pipeline

This issue is a duplicate of https://github.com/vivekratnavel/omniboard/issues/41

And v1.8.1 is the latest version that can be used with Mongo 3.2.

[2019-09-05 05:42] vivekratnavel commented on #110
@rmclarke is right. I just tried Omniboard v2.1.0 in Firefox 69.0 in Mac OS and I did not face any issues with the scrollbar.

[2019-09-05 08:00] serhiy-yevtushenko commented on #144
Thanks you for the answer and clarification.

Just a short notice - I got this issues as well with the v1.8.1 and 1.8.0. I was able to solve it by enabling aggregation pipeline in Cosmos DB and now it functions with version 2.1.0

[2019-09-05 08:00] #144 closed

[2019-09-05 09:43] daniel-sch commented on #110
Thanks, v2.1.0 does indeed solve the problem.

[2019-09-05 09:43] #110 closed

[2019-09-06 13:26] serhiy-yevtushenko opened #145 "Upon connecting to CosmosDB Mongo DB, omniboard code throws exception "Unrecognized parameter to $lookup: let""
I'm getting the following exception upon connectng to Cosmos Mongo DB database:

Omniboard version is 2.1.0, which is being run from docker.

omniboard_cloud_1  | ::ffff:172.19.0.1 - - [06/Sep/2019:13:21:31 +0000] "GET /api/v1/Runs?select=_id,heartbeat,experiment,command,host,stop_time,config,duration,result,start_time,resources,format,status,omniboard,metrics,meta,F_beta_0.5&sort_by=_id&order_by=

[2019-09-06 17:52] vivekratnavel commented on #145
@serhiy-yevtushenko You are trying to connect to MongoDB < 4.0 with Omniboard v2.x which will not work. Try using Omniboard v1.8.1 and it should work.

[2019-09-06 17:52] #145 closed

[2019-09-07 09:36] serhiy-yevtushenko commented on #145
The strange thing that this exception is not happening on every run, but only sometimes. That's why I tried using version 2.1.0 (My observation was, that version 1.8.1. would not work on Cosmos DB as well, if aggregation was not enabled, and I was getting on my machine version 2.1.0 mostly working (and getting this exception in rare cases).

[2019-09-07 18:30] vivekratnavel commented on #145
@serhiy-yevtushenko You will need to enable aggregation pipeline in Azure CosmosDB for any version of Omniboard to work as expected. And if you want to try Omniboard v2.x, you must connect to Mongo DB >= 4.0 for it to work as expected. It is a breaking change because some of the queries used by Omniboard v2.x are not supported in MongoDB < 4.x. So, if you use Omniboard v2.x with MongoDB 3.x, you w

[2019-09-10 15:27] lliuz commented on #111
@vivekratnavel
I encountered a similar problem when I tried to connect to mongo:
[code]
The database is created a long time ago. When I use omniboard < 1.4, the connection is fine, but when I upgrade omniboard, the error occurs. In addition, I tested to create a new database, and there was no problem with the connection.

I'm using docker-compose for omniboard
[code]

[2019-09-10 15:58] lliuz commented on #60
Support all the above comments. I think the lack of comparison for parameters and metrics might be the main drawback compared to other tools like comet.ml.

[2019-09-10 18:57] vivekratnavel commented on #60
I am currently working on adding support for this feature. I am expecting to release this feature within a week or so.

[2019-09-10 19:02] vivekratnavel commented on #111
@lliuz Omniboard v2.x only supports MongoDB >= 4.0. So, yes your observation is correct.

[2019-09-11 04:08] dvorak0 opened #146 "source file view doesn't work when number of files > 10"
I have experiments where the sources are added manually (since the automatic discover works wrongly).

But in Omniboard I can only check the first 10 files normally, which means the source code is displayed in the drop-down box. But it's not the case for other files. The drop-down box doesn't display at all. The 'Download' works well so I guess its a problem inside omniboard instead of sacred.

[2019-09-12 10:41] dvorak0 opened #147 "with beat_interval, metric plot and captured output are empty"
`python main.py -m sacred --beat_interval=100` runs my experiments. But I see nothing from the metric plot and captured output.

[2019-09-12 10:43] dvorak0 opened #148 "length limitation of captured output"
I saw the captured output ends at roughly 100k and will not continue to display. Is this a designed feature or a bug?

[2019-09-15 05:33] #60 closed

[2019-09-15 05:36] vivekratnavel opened #149 "Add support to compare source files between different runs"

[2019-09-15 05:38] vivekratnavel commented on #147
@dvorak0 Can you verify if metrics and captured out are available in the mongodb?

[2019-09-15 05:45] vivekratnavel commented on #60
:tada: This issue has been resolved in version 2.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/2.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-09-15 06:12] vivekratnavel commented on #146
@dvorak0 I am not able to reproduce this in my environment. I added upto 17 source files manually by `add_source_file` and don't have any issues seeing them in Omniboard.

Which browser are you using? Can you post a video or gif on what you are experiencing?

[2019-09-15 21:29] vivekratnavel commented on #148
No, it is not a designed feature.

[2019-09-16 06:57] dvorak0 commented on #147
@vivekratnavel I checked and found that it's empty in db. Could it be a problem related to sacred?

[2019-09-16 08:42] vivekratnavel commented on #147
Yes, please create an issue in sacred. I am closing this issue since it cannot be fixed in omniboard.

[2019-09-16 08:42] #147 closed

[2019-09-18 05:14] dvorak0 opened #150 "All fields for a running experiment are displayed as "pending" when a column doesn't fit"
I like the column feature and usually use a "best_result, min of testing.loss" metric.

But I found All fields for a running experiment are displayed as "pending" when a column doesn't fit.

For example, I have both trainning.loss and testing.loss for "Metrics Plot" for ID=1 experiment. Then the column "best_result, min of testing.loss" works well. But when I have another experiment ID=2 which onl

[2019-09-18 06:20] vivekratnavel commented on #150
It is indeed strange. Can you post the response of API request `/api/v1/Runs` from the network tab in dev tools?

You should see "Pending" only when Omniboard is loading data from the server. Also, can you post a screen-shot of this ?

[2019-09-18 13:34] dvorak0 commented on #150
![Capture](https://user-images.githubusercontent.com/2220369/65153270-0e1ae200-da5c-11e9-8615-430579b6d59e.PNG)
@vivekratnavel  Here you are.

Thanks for you help.

[2019-09-19 03:32] dvorak0 commented on #148
@vivekratnavel Sorry. I found the reason. The observer failed/crashed at some time, making the captured output limited. We should close the issue.

[2019-09-19 07:24] #148 closed

[2019-09-22 08:07] #149 closed

[2019-09-22 08:17] vivekratnavel commented on #149
:tada: This issue has been resolved in version 2.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/2.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-09-23 05:14] erap129 opened #151 "add tags from code"
Hello,
I really like the 'tags' feature and it would really help me if it was possible to somehow inject tags from the python code via the MongoObserver.
Is this possible in some way?
Thanks a lot

[2019-09-23 06:15] vivekratnavel commented on #151
You can use config.tags to set tags from python. Let me know if it works for you.

[2019-09-23 07:00] erap129 commented on #151
Thanks for the comment but I think it doesn't work.
I tried this:
`@ex.main`
`def main(_config):`
    `_config.tags = ['test_tag']`

and I also tried adding a "Tags" or "tags" dictionary to the normal configuration and none of the ways seem to add tags to Omniboard.

[2019-09-24 16:27] alpapado opened #152 "Omniboard 2.2.0 does not display run comments"
Upon upgrade to version 2.2 (from a version below v2), omniboard no longer displays sacred comments added via the -c flag, in the notes column. This is also happening for previous experiments, whose comments were being displayed properly prior to the upgrade.

[2019-09-25 07:16] #151 closed

[2019-09-25 07:20] vivekratnavel commented on #152
@alpapado Thanks for filing this issue! Omniboard v2.0 underwent major refactoring in the code and moved all the computations to server side. I will track this as a feature request to combine and display comments in the "Notes" column.

[2019-09-25 07:23] vivekratnavel commented on #151
@erap129 I have fixed all the bugs related to this issue and added support for this feature in the latest release of Omniboard. I have also updated the documentation. Please update Omniboard and let me know if it works.

[2019-09-25 07:27] vivekratnavel commented on #151
:tada: This issue has been resolved in version 2.4.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/2.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-09-27 04:55] #150 closed

[2019-09-27 04:57] vivekratnavel commented on #55
This feature has been released in version 2.2.0

[2019-09-27 04:57] #55 closed

[2019-09-27 05:07] vivekratnavel commented on #150
:tada: This issue has been resolved in version 2.4.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/2.4.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-02 09:20] alpapado opened #153 "Attempting to view source files causes a crash on v2.2"
When attempting to view the source files from a run, omniboard crashes with the following error:

[code]

[2019-10-04 09:20] dmiyakawa opened #154 "Allow to associate a results with uploaded files like images"
I'd like to attach files related to each experiments, which are indirect results of the experiments.  For example in machine learning, training results may contain some example screenshots of actual detections.

[2019-10-08 14:17] Gonzalo933 commented on #54
Is it possible to show values from the _run.info dictionary?

[2019-10-10 04:18] vivekratnavel commented on #54
@Gonzalo933  Yes. Add a custom column with `info.<key>`

https://vivekratnavel.github.io/omniboard/#/usage?id=custom-columns

[2019-10-10 12:26] qwitwa opened #155 "Adding a filter results in error:undefined"
<img width="1680" alt="Screen Shot 2019-10-10 at 13 24 12" src="https://user-images.githubusercontent.com/2302478/66568496-79d70300-eb61-11e9-8f3e-37a1760b2364.png">
<img width="1672" alt="Screen Shot 2019-10-10 at 13 24 23" src="https://user-images.githubusercontent.com/2302478/66568499-7ba0c680-eb61-11e9-9fcc-f4c4e35b7153.png">
<img width="1602" alt="Screen Shot 2019-10-10 at 13 24 59" src="http

[2019-10-10 14:24] vivekratnavel commented on #155
Are you connecting with MongoDB < 4.0?

Omniboard v2.0 and greater will not work with MongoDB <4.0. Try upgrading
your Mongo and this should work.

On Thu, Oct 10, 2019 at 5:26 AM Joshua Barney <notifications@github.com>
wrote:

--
Regards,
Vivek Ratnavel

[2019-10-17 11:07] alpapado commented on #154
This sounds like a use case for Sacred's artifacts.

[2019-10-19 05:52] #155 closed

[2019-10-19 06:11] vivekratnavel commented on #54
@Gonzalo933 Which browser are you using?

Please send me the response you get for "Runs" request when the page is loading. You can find it under "Network" tab of Developer Console in Chrome.

I first want to see if you get data for info.precision from server. Also, please send me the complete request query. It will help me debug the problem quickly. Thanks!

[2019-10-21 09:54] Gonzalo933 commented on #54
[code]

From Chrome network
Request:
[code]
Response
[code]

[2019-10-21 10:04] Gonzalo933 commented on #54
If it's of further help, here is the request and response from Chrome after expanding that experiment (where you can see that info.precision exists)

[code]

[2019-10-22 02:35] Chen-Cai-OSU opened #156 "Efficiently comparing different visualizations"
Hello,

First, thank you very much for develping omniboard! I am running tsne/umap for some data visualization. I have roughly 15 parameters to parameterize my visualizations. (params for tsne/umap + params for how to visualize the data). Right now I am using sacred + omniboard to save all visualizations as artifacts since it is a pretty nice way to manage experiments.

Since I don't know what the

[2019-10-22 04:58] vivekratnavel opened #157 "Custom columns with info.* does not work when metric columns are present"
When custom metric columns are projected along with custom column of pattern info.*, custom column is not returned with the runs response from server.

[2019-10-22 04:59] vivekratnavel commented on #54
Thanks @Gonzalo933! The network requests and responses that you shared here helped me nail down the bug. I have created #157 to track this bug.

[2019-10-22 05:03] #157 closed

[2019-10-22 05:13] vivekratnavel commented on #157
:tada: This issue has been resolved in version 2.4.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/2.4.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-22 17:12] Chen-Cai-OSU opened #158 "Artifacts with long name are not shown correctly"
Hello,

When I look into some visualizations for different experiments, I found that if artifacts have very long names, they can not be shown correctly. For example, umap_{'neu_idx': 0}_{'n_neighbors': 10, 'min_dist': 0.1, 'n_components': 2, 'metric': 'euclidean'}.jpg can not be shown but tsne_{'neu_idx': 2}_{'metric': 'euclidean'}.jpg can be shown correctly.

[2019-10-24 15:59] BaptisteSim opened #159 "Development mode TypeError: Cannot read property 'length' of undefined"
Hi,
I am trying to access the development mode by following the quick start guide.
[code]

The connection to the DB seems ok but after a few seconds of loading I get this error :

[code]

Any idea ?

Thank you

[2019-10-25 03:53] vivekratnavel commented on #159
Hi @BaptisteSim ,

Thanks for trying out Omniboard in dev mode!

Can you try to start web and server in two terminals, so it will be easy to identify errors:
Terminal 1:
`yarn run server --mu mongodb://localhost:27017/sacred`
Terminal 2:
`cd web`
`yarn run start`

Also make sure you are connecting with a mongo db instance that has MongoDB >= v4.0

And refresh the browser cache by following this -

[2019-10-25 07:48] BaptisteSim commented on #159
Sure,
I use MongoDB 4.2.0 and it is working with a pip installation of omniboard, I get the error only when I build the app on my side.
I tried to reset the cache as you mentioned, go in ingognito mode on chrome and disable every extensions, no log prompt and I am still getting the same issue :

[code]

Server terminal :
[code]

Client terminal :
[code]

[2019-10-25 15:51] vivekratnavel commented on #159
Can you check if there is any error in the network tab of Developers
console in chrome?

It looks like the Ajax request to fetch custom columns data is not
returning a valid response.

Also, please post the response of this network call.

On Fri, Oct 25, 2019 at 12:48 AM BaptisteSim <notifications@github.com>
wrote:

--
Regards,
Vivek Ratnavel

[2019-10-30 13:18] BaptisteSim commented on #159
Sorry for the delay,

it seems that every call to "http://localhost:3000/api/v1/*" fail:
- Omniboard.Settings
- Omniboard.Metric.Columns
- Omniboard.Custom.Columns
- database

here is the chrome network tab screenshot:
![image](https://user-images.githubusercontent.com/15976333/67861162-de153300-fb1f-11e9-83c3-b3d511c3d9f2.png)

[2019-10-31 12:34] BaptisteSim commented on #159
I found a way to do it:
[code]

[2019-10-31 15:56] vivekratnavel commented on #159
Did it work for you after replacing the proxy?

On Thu, Oct 31, 2019 at 5:34 AM BaptisteSim <notifications@github.com>
wrote:

--
Regards,
Vivek Ratnavel

[2019-11-01 14:40] vivekratnavel commented on #159
Great!

[2019-11-01 14:40] #159 closed

[2019-11-06 15:18] JohannesAck opened #160 "Error undefined: MongoError: Unrecognized pipeline stage name: '$addFields'"
Hi, I really like your project, however, it is not quite working for me.

Starting omniboard from bash works fine, but when opening it in the browser it seems to encounter some errors when getting the data from MongoDB.
When looking at the DB with Robo3T everything works fine, and I believe the initial connection to the DB from Omniboard also works, however, I'm very unexperienced with JS, so I'd

[2019-11-06 15:29] vivekratnavel commented on #160
Hi JohannesAck,

Thanks for trying out Omniboard! Omniboard v2.x is only compatible with
mongod v4.0 and above. If you cannot upgrade mongod, I suggest you to try
Omniboard v1.x , but you will be missing out on the latest feature
additions.

On Wed, Nov 6, 2019 at 7:18 AM JohannesAck <notifications@github.com> wrote:

--
Regards,
Vivek Ratnavel

[2019-11-06 17:58] JohannesAck commented on #160
Thanks, I completely overlooked that requirement.
For me downgrading work as you said, but I'll look into upgrading MongoDB later.

Thank you for your quick help and cool work.

[2019-11-06 17:58] #160 closed

[2019-11-06 21:04] Guptajakala commented on #66
@vivekratnavel
+1. I didn't see the feature in 2.2.0
Has this feature already been added?

[2019-11-06 22:04] tvykruta opened #161 "unescaped slash error when connecting to mongodb"
I'm trying to connect to a mongodb.com cluster, my neither my username nor password have any special chars, but I get this error:

[code]

[2019-11-06 22:05] tvykruta opened #162 "omniboard on mongo vs sql"
We're new omniboard users. The documentation recommends using mongodb, but does not specify exactly why.
If we used a sql database like postgres, do we lose some functionality?

[2019-11-06 22:10] tvykruta commented on #161
Problem solved - switched to using --mu instead.

[code]

[2019-11-06 22:10] #161 closed

[2019-11-06 22:19] Guptajakala opened #163 "Delete all failure or interrupted rows"
Hi,
This visualizer is pretty cool!
I'm wondering if there is such feature to delete all failure or interrupted rows, or if you plan to add? Thanks!

[2019-11-06 23:41] geeanlooca opened #164 "Feature request: config file download"
Hello and thanks for this awesome tool.

What do you think about adding a download button in the config tab so we can download the corresponding json file and easily replicate a particular run? This would massively facilitate reproducibility imo.

Thank you again

[2019-11-07 03:39] Guptajakala opened #165 "After delete, showing "experiment was successfully deleted" is kind of annoying"
It always show there and won't disappear unless I click. Some timeout mechanism will great.

[2019-11-09 02:01] #165 closed

[2019-11-09 02:11] vivekratnavel commented on #165
:tada: This issue has been resolved in version 2.4.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/2.4.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-11-13 12:40] avalcarce opened #166 "Feature request: Colour code rows based on column value (e.g. based on Result column)"
This would be useful to visually compare the magnitude of experiments' results fast.

[2019-11-13 15:12] avalcarce commented on #50
The Omniboard served from the Docker container still displays "admin" as the DB one is connected to.

[2019-11-19 16:01] melodieboillet opened #167 "Add metric column gives Error:undefined"
Hi,

I'm new to Sacred with Omniboard and I'm facing an issue when trying to add a new column. When I choose to add a metric, I got an "Error: undefined" and all experiment disappear until I remove the added metric column. See the two following images showing this problem.

![add_column](https://user-images.githubusercontent.com/50051238/69163224-21930980-0aee-11ea-8148-7f242c031f99.png)
![after_a

[2019-11-20 14:12] TanCari opened #168 ""omniboard -mu ...." seems not to work (BUG)"
Hi,

using the command

omniboard --mu "mongodb://USERNAME:PASSWORD@HOST:PORT/DB_NAME?authSource=admin"

I get the following error:

[...]\AppData\Roaming\npm\node_modules\omniboard\dist\config\database.js:22
  if (argv['m'] && argv['m'].indexOf(':')) {
                             ^

TypeError: argv.m.indexOf is not a function
    at Object.<anonymous> ([...]\AppData\Roaming\npm\node_modules\omni

[2019-11-20 15:00] Polyphenolx commented on #167
After running into the same issue, I found that the node server would give `MongoError: Unrecognized expression '$toObjectId'`. A quick google search found that `$toObjectId` is a _new_ method to mongodb version 4- executing `mongod --version` gave me 3.6.8. After upgrading to version 4, my issue was resolved.

[2019-11-20 21:03] vivekratnavel commented on #167
Omniboard v2.x is only compatible with MongoDB >= 4.0. Please upgrade MondoDB as @Polyphenolx suggested or downgrade Omniboard to v1.x.

[2019-11-21 11:54] melodieboillet commented on #167
Thanks for your answers, it works now.

[2019-11-21 11:54] #167 closed

[2019-11-27 17:18] ksteverson commented on #153
I have the same issue and I think I managed to track down the problem.

From what I can tell, sacred does not re-upload sources files that did not change. For example, if code.py did not change between runs 1 and 2, then sacred will simply point the run2 source code files  at code.py uploaded for run 1. Everything works fine until you delete run 1 using the omniboard interface this will delete the

[2019-11-30 10:30] tfriedel opened #169 "trying to download source files causes error"
I'm using the docker image for 2.4.3.
When clicking the download box for a source file, omniboard crashes with this error:
[code]

[2019-12-03 09:51] vivekratnavel commented on #169
Duplicate of #153

[2019-12-03 09:51] #169 closed

[2019-12-05 09:30] serhiy-yevtushenko opened #170 "Error when adding average value of metric column - Omniboard 2.4.3"
I got the following exception in omniboard log and undefined error, when trying to add metric column, which should show the average value:

omniboard_1  | MongoError: Unrecognized expression '$average'
omniboard_1  |     at Connection.<anonymous> (/usr/omniboard/node_modules/mongodb/lib/core/connection/pool.js:454:61)
omniboard_1  |     at Connection.emit (events.js:198:13)
omniboard_1  |     at p

[2019-12-05 10:39] vivekratnavel commented on #170
If you are using v2.x of Omniboard, then MongoDB >=v4.x is required. Which version of MongoDB are you connecting to?

[2019-12-05 20:53] jykzel commented on #164
Ideally it would be nice to have a button that would pull down everything required to rerun the experiment. E.g. git commit, source code dif, config

[2019-12-06 20:06] serhiy-yevtushenko commented on #170
Thank you for the reply

The error appeared when using omniboard from docker-compose. The reason for it that it their simply mongo image is specified without version, and on this machine the older version of omniboard with older mongodb was also used.

I would advise to specify minimum docker version in example docker compose configuration for omniboard

[2019-12-11 04:24] balloch commented on #60
can you point to the documentation of this functionality?

[2019-12-11 04:28] balloch commented on #156
Maybe I am misinterpreting OP's request, but I understand that you @Chen-Cai-OSU want to see multiple plots at one time when viewing an experiment (for example on plot with loss at the same time as viewing tsne)? I would also like this feature, to view loss and accuracy at the same time on two side-by-side plots

[2019-12-16 23:01] kmkurn opened #171 "Omniboard lags when metrics are large"
Hi, first of all, thanks for your awesome work. Omniboard makes my life so much easier!

In my experiments, I have a very large number of metrics (100+) and each has 20K+ values. Viewing the metrics plot takes forever, and omniboard lags to the point it's too slow to do anything else. I might be wrong but it seems the default setting to load and plot all metrics doesn't scale well for this case. I

[2019-12-17 03:01] cheneyoung opened #172 "How to bind other port, not only 9000"
like the title, now I want to user other port, how can I  do?

[2019-12-17 09:44] skyser2003 opened #173 "Suggestion: Change tag mongodb path from 'runs.omniboard.tags' to 'runs.info.omniboard.tag'"
I am using tags to filter different model training runs.
Tags are currently saved in `runs.omniboard.tags` in mongodb, and only can be assigned via omniboard web ui and not in python code.
If save path is changed to `runs.info.omniboard.tags`, than you can assign tag within python like this.

[code]

Backward compatibility can be easily done, you can just read in tags from old path but no more upd

[2019-12-19 03:56] #170 closed

[2019-12-19 04:07] vivekratnavel commented on #173
@skyser2003 Thanks for your suggestion! You can add tags to experiments from python code by adding tags to `config.tags` as a comma separated string.

[code]

This feature already exists in omniboard. Please give it a try and let me know if it works for you.

[2019-12-19 05:47] skyser2003 commented on #173
Oh thanks, I just couldn't find any documentation mentioning this feature.
It works well.

[2019-12-19 05:47] #173 closed

[2019-12-21 17:26] TyrionWarMage commented on #168
Sure you did use --mu not -mu ? Got the exact same error...

[2019-12-22 15:22] vivekratnavel commented on #173
@skyser2003 This feature is documented here - https://vivekratnavel.github.io/omniboard/#/usage?id=add-tags-using-configs

[2019-12-28 02:03] lotsoffood commented on #170
I am getting the same error with Mongo db version v4.0.5, and Omniboard 2+. Do all experiments need to have the same metrics for this to work? In simpler terms, if only a few rows have "metricA" and I create a metric columns based on "metricA" will it still work? I'm thinking this may be causing it.

[2019-12-28 13:04] serhiy-yevtushenko commented on #170
For me the error was fixed, when I added version 4.0.13 of mongo db explicitly to mongodb image specification in docker file. Having latest version was not enough, as docker cached other version under latest (previous one)

[2019-12-28 18:05] lotsoffood commented on #170
I am running Omniboard 2.4.3 and Mongo DB 4.0.5 locally (i.e. not inside of docker containers). Is it possible that because I have multiple experiments which have different metrics (for example, some rows may have MetricA, and others only MetricB) that it would cause a problem when trying to add MetricA?

[2019-12-29 15:14] lotsoffood commented on #69
Any movement on this? I'm stoked to be able to have multiple databases selectable from within Omniboard.

[2019-12-29 18:58] nuth commented on #69
Thanks for the reminder! I'll have some time right over new years to merge
with current and finish up, and make a pull request and then we'll see how
it goes :-)

søn. 29. des. 2019, 16:14 skrev lotsoffood <notifications@github.com>:

[2020-01-02 23:41] jykzel commented on #172
1. export PORT=9001
2. omniboard -m localhost:27017:db_name

[2020-01-03 05:29] IIAT-MR-LL opened #176 "Is there any way to remember the display style"
In chrome, Is there any way to remember the display style as below, I found it always return to default style after few hours.

- order of the display column list,
- which column is hide or display,
- and the filter i create

[2020-01-03 13:06] vivekratnavel commented on #176
Currently, all of these settings are stored in browsers local storage. If you use the same browser session, then all the settings should be remembered by Omniboard.

[2020-01-04 19:09] lotsoffood opened #177 "Trouble downloading source - MongoDB error "file not opened for writing""
Hello,

I'm using Omniboard 2.4.3 with MongoDB 4.0.5. I am trying to download a source file from the Omniboard interface (by clicking the "Download" button) because the source doesn't show up in the interface. Omniboard is throwing the error below, any thoughts?

[code]

[2020-01-05 15:24] lotsoffood opened #178 "Error when adding metric column - unrecognized expression $average"
Hello,

I have multiple different experiments (with different metrics for each experiment) being written into a MongoDB (4.0.5) database with Omniboard (2.4.3) running as well. When trying to add a metric column (choose a name, metric, and "average"), I get an error in the web interface: `Error: Undefined`. The trace looks like:

[code]

Any thoughts on a potential fix?

[2020-01-06 11:05] vivekratnavel commented on #178
If you are running Mongo v4.0.5, can you try to run a query with $avg in Mongo shell?

If you get the same error when you try to run $avg on any of the metrics data in Mongo shell, then nothing much can be done in Omniboard since it would be something specific to your metrics data. If not, I will take a look.

[2020-01-06 16:44] lotsoffood commented on #178
Hi @vivekratnavel - thanks for the quick response.

It looks like OmniBoard is using `$average`, and from MongoDB docs it doesn't seem there is an `$average` expression. Instead, they show `$avg`. Is there somewhere in the OmniBoard code that `$average` is being used instead of `$avg`? I haven't been able to log into my console yet to test unfortunately.

[2020-01-06 17:03] vivekratnavel commented on #178
I think this might be it -
https://github.com/vivekratnavel/omniboard/blob/191afecf4f0d8a4294f5ef84fac4d5e7570a2c00/web/src/components/MetricColumnModal/metricColumnModal.js#L305

https://github.com/vivekratnavel/omniboard/blob/master/server/runs.response.js#L331

But, can you please confirm by manually updating the row in MongoDB with `avg` instead of `average`? The newly added metric columns sho

[2020-01-06 19:10] lotsoffood commented on #178
Hey @vivekratnavel - the `$avg` operator works fine in the Mongo shell, but `$average` does not. See below:

Works:
[code]

Doesn't work:
[code]

This is what a single record actually looks like in `db.metrics`; I couldn't figure out the Mongo syntax for taking the average of an array, but just FYI:

`{ "_id" : ObjectId("sdfsadfdsaf2332"), "name" : "My_Metric", "run_id" : 16, "steps" : [ 201907, 2

[2020-01-06 19:39] lotsoffood commented on #178
Sorry, I see what you are asking me to do now. Give me just a minute, I am trying to navigate my way around MongoDB.

[2020-01-06 19:41] vivekratnavel commented on #178
@lotsoffood If you are having trouble navigating around Mongo, give mongo express a try - https://github.com/mongo-express/mongo-express#readme

[2020-01-06 19:55] lotsoffood commented on #178
@vivekratnavel  The manual update from `average` to `avg` fixed it! Thank you.

[2020-01-06 19:59] vivekratnavel commented on #178
@lotsoffood Great! Can you post a pull request for the fix? It will only require changing `average` to `avg` here - https://github.com/vivekratnavel/omniboard/blob/191afecf4f0d8a4294f5ef84fac4d5e7570a2c00/web/src/components/MetricColumnModal/metricColumnModal.js#L305
and some basic testing

[2020-01-06 20:02] vivekratnavel commented on #178
You can refer to this documentation to start omniboard in local for development - https://vivekratnavel.github.io/omniboard/#/development

[2020-01-06 20:45] lotsoffood commented on #178
I can put in a PR real quick with `git` if I have access (without testing), but am having trouble with the `yarn` based instructions above and don't have anymore time to troubleshoot now. I may have to revisit at a later date

[2020-01-07 02:34] lotsoffood commented on #178
Made the fix but don't have permissions to push the `hotfix/average` branch to the repo.

[2020-01-07 19:03] lotsoffood commented on #69
@nuth Let me know if you need some help with the testing or point me to the branch it's on.

[2020-01-07 19:59] nuth commented on #69
Yes, that'd be very nice, since I seem to always end up with my hands full lately. The code is here: https://github.com/nuth/omniboard/pull/1

What's missing is:
* Merge in master (v2)
* Dynamically set location of config file through environment variable (12 factor)
* Any improvements to the config file format
* Sort out any frontend quirks, like local storage per context path, etc.

If you have

[2020-01-19 11:09] IIAT-MR-LL commented on #176
So that is say, if the chrome restart, then the setting will be gone in chrome?

[2020-01-21 03:09] WangLiwen1994 opened #179 "Export and import experiments"
I need to backup some key experiments to avoid accidentally deleting. Is there a method to export one experiment, or move it to another database?

Thank you!

[2020-01-28 01:17] #90 closed

[2020-01-29 14:13] sadaharu-inugami opened #180 "Feature request: more informative legend when comparing metric plots"
First and foremost, I'd like to thank you for your work on the amazing tool that Omniboard surely is.

I've got one small suggestion for data presentation when comparing different experiments. Currently, when comparing metric plots of different experiments, the legend entries are formatted as follows {run_id}.{metric_name}. By default, the run IDs saved by Sacred's MongoObserver are integers, whic

[2020-01-30 14:11] alpapado commented on #152
Hi. Any news on that front?

[2020-01-30 15:04] vivekratnavel commented on #152
Hi @alpapado,

This piece of code is supposed to display `meta.comment` in Runs collection as `Notes` in the UI.

Can you check your MongoDB collection to see if you have `meta.comment` populated in the Runs collection?

[2020-01-30 15:31] alpapado commented on #152
Yes meta.comment is populated in the mongoDB as seen in mongo compass:

![sacred](https://user-images.githubusercontent.com/11426919/73463644-46291e80-4386-11ea-9f2e-f39783bfbccb.png)

Yet, the notes field in omniboard does not show the comment :(

[2020-01-30 15:42] vivekratnavel commented on #152
Hi @alpapado,

Omniboard looks for `meta.comment` and I see that your MongoDB has the comment stored in `meta.options.--comment`. Can you post the complete `meta` object?

[2020-01-30 15:52] alpapado commented on #152
Sure. There you go.

![sacred](https://user-images.githubusercontent.com/11426919/73465459-1a5b6800-4389-11ea-872f-d60d1b75c3c9.png)

My bad about before. It seems there is also an external comment field i.e. meta.comment. So the code should work I guess?

[2020-01-30 15:57] vivekratnavel commented on #152
Thanks for this! I will dig deeper and debug on this issue.

[2020-01-30 16:19] tvykruta opened #181 "Sharing omniboard URL with experiment ID's in URI params"
Is it possible to share a URL to omniboard with experiment ID's encoded in URI params?

For example, I want to show the team experiment 60 and 70. Right now they have to disable filters, find those experiments, select them and hit Compare. I would like to be able to share a URL that takes them directly to the Compare page.

It's encoded in the query string but navigating to this directly does not

[2020-01-30 17:26] #152 closed

[2020-01-30 17:33] vivekratnavel commented on #152
Hi @alpapado, I have fixed this issue and a new version of Omniboard is on its way. Please update your Omniboard to the latest version and you should see all your existing notes in Omniboard.

Let me know if you have any issues.

[2020-01-31 01:19] vivekratnavel commented on #152
:tada: This issue has been resolved in version 2.4.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/2.4.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-31 01:20] #178 closed

[2020-01-31 01:22] vivekratnavel commented on #178
@lotsoffood That's fine! Thanks for your effort in finding this bug and trying to fix it. I fixed it and pushed the changes. Average should work fine from the next version of Omniboard.

[2020-01-31 01:29] vivekratnavel commented on #178
:tada: This issue has been resolved in version 2.4.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/2.4.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-31 15:06] vivekratnavel commented on #176
@IIAT-MR-LL Unless you clear local storage, the settings should be remembered by Omniboard.

[2020-02-06 17:44] sjTaylor opened #182 "Deleting experiment deletes source files even when other experiments depend on them"
sacred version: 0.7.5 and 0.8.1
omniboard version: 2.4.5

If an experiment is deleted the source files are also deleted.
This causes issues when two experiments share source file versions (i.e. source files did not change between runs).
Re-running the experiment after deleting (w/o modifying the source) will not make the source view-able in the older experiments.

Steps to reproduce:
1. Run an exp

[2020-02-10 00:54] vivekratnavel commented on #182
@sjTaylor Thanks for raising this issue with details to reproduce. I am going to fix this soon. This bug is being tracked at #153

[2020-02-10 00:54] #182 closed

[2020-02-10 00:55] vivekratnavel commented on #177
@lotsoffood Thanks for raising this issue. This error is related to this bug #153

I am going to fix this soon.

[2020-02-10 00:55] #177 closed

[2020-02-10 01:27] #153 closed

[2020-02-10 01:35] vivekratnavel commented on #153
:tada: This issue has been resolved in version 2.4.6 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/2.4.6)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-14 05:25] kmkurn commented on #171
Closing this issue as I think it was my slow internet connection that's at fault. Sorry! Omniboard works just fine!

[2020-02-14 05:25] #171 closed

[2020-02-17 20:14] #172 closed

[2020-02-17 20:15] vivekratnavel commented on #168
Closing this now. Please reopen if this can be reproduced.

[2020-02-17 20:15] #168 closed

[2020-02-17 20:17] vivekratnavel commented on #163
Hi @Guptajakala,

I am planning to add multi-delete feature via #115

You can then add a filter for failed or interrupted rows, select all rows and then delete them all at once.

[2020-02-17 20:17] #163 closed

[2020-02-17 20:19] vivekratnavel commented on #154
@dmiyakawa I agree with @alpapado. You can attach those images as Sacred Artifacts and Omniboard will display those artifacts under each experiment run.

[2020-02-17 20:19] #154 closed

[2020-02-22 08:06] #115 closed

[2020-02-22 08:33] vivekratnavel commented on #115
:tada: This issue has been resolved in version 2.5.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/2.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-23 06:40] vivekratnavel commented on #118
Closing this since there is no activity since Sep 2019. Please reopen if the issue persists.

[2020-02-23 06:40] #118 closed

[2020-02-23 06:45] vivekratnavel commented on #156
@Chen-Cai-OSU and @balloch It is now possible in Omniboard to select multiple experiments and compare their metrics, configs, source files etc.

Can you try out the latest version of Omniboard and let me know if that is what you desired?

[2020-02-28 16:36] tpietruszka opened #190 "Feature request: hide columns with constant values"
First of all, thank you for the great tool that Omniboard already is!

A suggestion:
It would be useful to, in the main table, automatically hide columns that have the same value for all the displayed runs, and perhaps add a box with these constants above/below the table.

It is a common pattern I use when analyzing results in a notebook, and it really helps with the readability of resulting table

[2020-03-01 09:31] #180 closed

[2020-03-01 09:33] vivekratnavel commented on #180
Added a dropdown to choose between "Run Id" and "Experiment Name" for Metric Label.

<img width="611" alt="Screen Shot 2020-03-01 at 1 22 02 AM" src="https://user-images.githubusercontent.com/1051198/75623191-8386f480-5b5c-11ea-833a-280c2b3cba02.png">

[2020-03-01 09:44] vivekratnavel commented on #190
@tpietruszka Thanks for your suggestion!

It will be good to be able to hide the columns with same value for all runs, but it will be hard to implement. Omniboard uses server side pagination for faster initial render and to support large number of experiments. Hence, client (frontend) will not be able to determine if a column has constant values.

Also, this feature will be hard to maintain since

[2020-03-01 09:46] vivekratnavel commented on #66
Closing this since Omniboard now supports multi-select compare and delete.

[2020-03-01 09:46] #66 closed

[2020-03-01 10:13] vivekratnavel commented on #180
:tada: This issue has been resolved in version 2.6.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/2.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-01 13:36] shakenes commented on #48
I'm still experiencing this issue. Since Fixed data table 2 v1.0 is already released, will there be an update on this?

[2020-03-03 04:44] #48 closed

[2020-03-03 04:53] vivekratnavel commented on #48
:tada: This issue has been resolved in version 2.6.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/2.6.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-03 12:08] tpietruszka commented on #190
I see... I should have read the code more carefully.
It does not feel like the perfect solution, but in practice, I think such an option could be useful even if applied "within a page".

I mean if I'm browsing 50/100/200 rows, usually the top ones according to the score, I care most about comparing those. If I need a complete config - I can still get it just clicking on any of runs.
(+ perhaps a n

[2020-03-05 01:22] vivekratnavel commented on #190
@tpietruszka That makes sense. And I think it will be useful to show constants in the top.

Please go ahead and work on the implementation and let me know if you have any questions while development. Thanks!

[2020-03-05 17:08] tpietruszka commented on #190
@vivekratnavel sorry to bother you but I have some problem, and not having much experience in Node-related stuff I'm not sure where the problem is.

when I've just cloned omniboard, and ran `yarn install` I get an error. I've tried updating yarn, node, tried on a different system (with node 13.x) - all the same. Both systems are Ubuntu 18.04, but Node, yarn etc installations are different.

The pr

[2020-03-05 20:21] vivekratnavel commented on #190
Hi @tpietruszka ,

Thanks for taking this initiative!

I have installed the following node and yarn versions and it works fine:
node: v10.13.0
yarn: v1.17.3

You can have multiple versions of node installed and switch between them by using `nvm` - http://nvm.sh

Please try and let me know if you are still facing issues.

[2020-03-05 20:24] vivekratnavel commented on #190
I also found this issue while searching for your specific issue - https://github.com/yarnpkg/yarn/issues/7900

[2020-03-05 22:22] tpietruszka commented on #190
Thanks for the nvm tip!
With your versions, I still get the error.

After following your latest link it seems like it is an issue with NPM. They have an issue, (still open since 3 weeks ago) on their statuspage: https://status.npmjs.org/incidents/lvgmcrfvrvsh , and to quote:

[2020-03-06 19:11] tpietruszka opened #191 "incorrect version of semantic-release/commit-analyzer in the lockfile"
Opening a new issue to avoid cluttering the other one.

As mentioned in #190, currently running `yarn install` fails for me, on so-very-many different versions of node, npm, yarn, etc, and on 2 different Ubuntu machines.

error message:
`error An unexpected error occurred: "https://registry.yarnpkg.com/@semantic-release/commit-analyzer/-/commit-analyzer-7.0.0-beta-.2.tgz: Request failed \"404 Not

[2020-03-06 19:20] tpietruszka commented on #191
BTW, for some reason `yarn install` still fails for too-new node versions (e.g. 12.16.1), while building the `weak` package. Is it expected?
Works fine with 10.13.0

[2020-03-08 01:48] #181 closed

[2020-03-08 01:58] vivekratnavel commented on #181
:tada: This issue has been resolved in version 2.7.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/2.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-08 02:27] #191 closed

[2020-03-08 19:53] vivekratnavel commented on #190
@tpietruszka I have fixed all the npm related issues and added support for latest version of Node v12. You can now pull the latest code and use node 12 to develop Omniboard. Please let me know if you have any other issues.

[2020-03-09 03:14] vivekratnavel opened #193 "Filter on Tags doesn't work with $in operator"
If $in operator is selected for filter on tags column, it doesn't work as expected

[2020-03-09 08:50] #193 closed

[2020-03-09 11:01] skat00sh opened #194 "Feature Suggestion : Managing access rights for different types of users"
Omniboard right now allows a user_id and password but it would be great if we could have multiple users and manage access rights for various users for eg. not allowing all users to delete an experiment entry except the admin.
Is there something like already planned or in the pipeline for the next release?

[2020-03-11 01:56] rohithkumar31 commented on #194
What does the existing user_id and password do? Does omniboard displays the runs created by specific user?

[2020-03-11 08:30] skat00sh commented on #194
Right now, best to what I've managed to find is, one could specify username and password that works like an authentication system for viewing omniboard but then it connects to mongodb instance of Sacred as a user defined in the connection string for mongodb.

What I'm suggesting is the ability to define different users while starting omniboard and then based on what username and password is used t

[2020-03-11 10:30] rohithkumar31 commented on #69
Any update on this feature?

[2020-03-12 20:13] alberto-oliveira opened #195 "Feature Suggestion: add scatter mark for each tick in metric's graphs"
A small issue with the way graphs for metrics are presented. There are two issues with the current way graphs are shown: (1) It is difficult to know which are the steps of the graph, since the ticklabels in the x-axis are not always conformant to the graphs. (2) when you have a single global metric, recorded for one step only, it doesn't show at the graph (only if you hover the mouse). It would he

[2020-03-18 10:08] diegombar opened #196 "Feature request: export table as csv"
It would be nice if we could export the main omniboard table of experiments as a CSV file, so that we can use a spreadsheet to generate custom plots. Ideally, it would only include visible columns: metrics columns, custom columns, no "hidden" columns.

[2020-03-18 12:12] diegombar opened #197 "Feature request: parallel coordinates view for experiment comparison"
would be a great addition to the comparison tool to identify correlations between hyperparams and metrics, similar to [Tensorboard HParams](https://www.tensorflow.org/tensorboard/hyperparameter_tuning_with_hparams) or [HiPlot](https://github.com/facebookresearch/hiplot)

<img width="1543" alt="hparams_parallel_coordinates" src="https://user-images.githubusercontent.com/25370056/76959112-399e5c80-6

[2020-03-19 16:37] jrfan commented on #176
So...the notes part in the web page where I can enter some notes is also only stored in browsers? I think it would be interesting to store the notes in mongodb and share with other co-workers~

[2020-03-19 22:01] vivekratnavel commented on #176
@jrfan The notes and tags are all stored in the database. Only the settings are stored in the browser. A few example settings include
- Show / hide columns
- Column order
- Column widths
- Filters

[2020-03-20 02:11] jrfan commented on #176
Oh I see, sorry, there is some errors in my Firefox browser, where the check mark is missing as shown below, so I didn't know how to save the notes. When I change the browser to Edge, I can see a part of check mark which works!
![图片](https://user-images.githubusercontent.com/33249614/77130470-0da6e680-6a93-11ea-8cc8-ea6836795410.png)

[2020-03-20 07:25] vivekratnavel commented on #176
You can resize the Notes input TextArea by dragging it from right bottom to see the checkbox. You can also increase the default height of each row by changing this setting in Omniboard. https://vivekratnavel.github.io/omniboard/#/usage?id=change-timezone

[2020-03-20 13:56] jrfan commented on #176
@vivekratnavel Thanks! That's very kind of you ! This really helps~

[2020-03-20 18:23] vivekratnavel commented on #176
@jrfan I am glad it helped you!

[2020-03-23 13:00] oranshayer opened #199 "Bug: delete run stuck"
OS: MacOS catalina 10.15.3
MongoDB 4.2
Omniboard 2.7.3

Issue: can't delete runs. delete is always stuck with this:
![image](https://user-images.githubusercontent.com/24811814/77319111-ee1ff000-6d16-11ea-89b2-539a504e479d.png)

[2020-03-24 00:01] vivekratnavel commented on #199
Can you open network console in chrome and paste any errors found there or
post a screen-shot of the network console ?

Also please post the server logs.

On Mon, Mar 23, 2020 at 6:00 AM oranshayer <notifications@github.com> wrote:

--
Regards,
Vivek Ratnavel

[2020-03-24 07:46] oranshayer commented on #199
sure, this is from the network console:
[code]
i also pasted the screen shot.

![image](https://user-images.githubusercontent.com/24811814/77400660-317c6c00-6db4-11ea-963e-30e8fe7f89c4.png)

Regarding server logs, which logs do you mean? is it the logs from the terminal where I executed omniboard?

Thanks for the help,
Oran

[2020-03-24 07:55] vivekratnavel commented on #199
@oranshayer Thanks for the screen-shot. I want to see the requests and responses under network tab - https://developers.google.com/web/tools/chrome-devtools/network . Open the network tab and then click on delete, you should see a couple of requests being sent.

For the server logs, you are right. It is the logs from terminal. I want to see the logs only after you pressed delete button. Thanks!

[2020-03-24 08:00] vivekratnavel commented on #199
I also want to know which browser you are using along with its version. Thanks!

[2020-03-24 08:13] vivekratnavel commented on #199
Never mind. I am able to reproduce this issue myself. Thanks for creating this issue. I will fix it in a while.

[2020-03-24 08:27] #199 closed

[2020-03-24 08:39] vivekratnavel commented on #199
:tada: This issue has been resolved in version 2.7.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard/v/2.7.4)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/2.7.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-24 10:09] oranshayer commented on #199
Cool, thanks for the quick update!
I updated to the new version but unfortunately now when I try to enter omniboard I just get a white screen with nothing appearing.

My chrome version is the latest:
Chrome Version 80.0.3987.149 (Official Build) (64-bit).

Here's the server logs from the terminal:
![image](https://user-images.githubusercontent.com/24811814/77413337-d8b6ce80-6dc7-11ea-98c7-2ffc5a6c

[2020-03-25 15:54] gkanwar commented on #69
I also have a similar use case with multiple sacred databases. Is this feature being actively worked on? What remaining tasks need to be handled before merging? I could spend a few hours trying to move this along.

[2020-03-25 16:17] nuth commented on #69
As far as I know, same status as my last post https://github.com/vivekratnavel/omniboard/issues/69#issuecomment-571746879

I don't think I'll have time to work on the project anymore, since I no longer work at the same project.

[2020-03-25 16:25] gkanwar commented on #69
Okay, thanks @nuth, working on picking up from your MP-6140 branch now. Is there a reason for an environment variable for the config file instead of a command line argument?

@vivekratnavel are there key improvements you would like to see before this can be merged? I would like to make this available for my project as soon as possible :grin:

[2020-03-25 16:35] nuth commented on #69
The solution seems to follow 12 factors (https://12factor.net/) more or
less, so it should be configurable through an environment variable, which
is a good idea anyways when running things in docker.

[2020-03-25 16:55] gkanwar commented on #69
Seems like the 12 factor approach would be not to have a config file at all, but set all this information directly in environment variables?

[2020-03-25 17:08] nuth commented on #69
Indeed, it's not perfect, but in my mind hard coding the config file would
be less in line with 12 factor than a config file controlled by an
environment variable... of course you could store the contents of the
config file in an environment variable, but the readability of that is
terrible. 12 factor is after all just a guideline for creating readable,
flexible code/apps, and I'd say in this inst

[2020-03-25 17:20] gkanwar commented on #69
Haha, I'm happy to stick to this, just wanted to understand the motivations. Getting a bit of headache trying to merge app.js right now... but getting close!

[2020-03-25 18:48] gkanwar commented on #69
Was this code passing the web tests on your branch? I'm finding that e.g. in runsTable.test.js the expects around mockAxios want a leading '/'. Does this make sense?

[2020-03-25 19:46] gkanwar commented on #69
Merge complete, and opened PR #200 so we can iterate on remaining issues. It seems like environment variable support was already there, taking config file path from OMNIBOARD_CONFIG. I've tested locally versus multiple sacred DBs with different datasets and basic operations like displaying list of runs and opening the drill down view seem to work fine.

[2020-03-25 20:21] nuth commented on #69
Ahh, yes... I might have skipped the tests. I think they all should work, if you just account for the updated context path stuff.

[2020-03-25 20:56] gkanwar commented on #69
Seems like some mockAxios calls want "/api/..." and some want "api/..." and I don't understand when or why. Could you explain what is happening in `Backend/backend.js`? How does it eventually learn about what the current path is?

[2020-03-26 05:34] vivekratnavel commented on #199
@oranshayer I installed the latest version of Omniboard v2.7.4 and did not run into any issues. I have the same version of node (v12.16.1) and run MacOS Mojave 10.14.

From the warnings you encountered, it looks like there is a permission issue in your global npm directory. Can you try the suggestions mentioned here - https://github.com/nodejs/node-gyp/issues/1236

If you still face the same issue

[2020-03-26 17:48] gkanwar opened #201 "Delete button not available until two rows are selected"
This appears to be a bug, although maybe this is a feature for a reason I don't understand. We can't delete rows until >= 2 have been selected.

If indeed a bug, it's a quick fix at line: https://github.com/vivekratnavel/omniboard/blob/586c43c8a871265104e4e9bd2823f43d4d01c371/web/src/components/RunsTable/runsTable.js#L1000

[2020-03-27 00:21] vivekratnavel commented on #201
To delete a single run, you can hover over the id column and click on delete icon.
https://vivekratnavel.github.io/omniboard/#/usage?id=delete-an-experiment-run

The delete button on the top is for multi-delete.

[2020-03-27 00:24] gkanwar commented on #201
Definitely true, but I don't see a reason why a single selection shouldn't be deletable using this button? As a user it's confusing to select a run and not see the delete button enabled.

[2020-03-27 06:41] vivekratnavel commented on #201
Sure, I would be happy to accept a PR for this. Thanks!

[2020-03-29 12:54] oranshayer commented on #199
@vivekratnavel  fixed the installation errors but omniboard still doesn't work (white screen)
mongodb v4.2.3
node v12.16.1

omniboard v2.7.3 works fine though...
Maybe something that has to do with the OS?

[2020-03-30 19:44] vivekratnavel commented on #199
Do you see any errors logged in Browser web console?

I want to see screen-shots of network tab and console tab of [Chrome Dev Tools](https://developers.google.com/web/tools/chrome-devtools)

[2020-03-31 06:46] oranshayer commented on #199
yes, here is the console tab:
![image](https://user-images.githubusercontent.com/24811814/77995374-559bf800-7334-11ea-834c-2c76e3ef4109.png)

here's the network tab:
![image](https://user-images.githubusercontent.com/24811814/77995439-75332080-7334-11ea-814a-f9d8c9438749.png)

[2020-04-01 05:43] #201 closed

[2020-04-01 08:14] alvarovalcarce opened #205 "Some filters seem broken after release 2.8.0"
An error message indicating "Invalid project" and "specification contains two conflicting paths" is displayed when I enable a parameter filter for a nested configuration.

[2020-04-01 11:47] oranshayer commented on #199
hey,
seems like this issue is fixed on 2.8.1.
don't know if intentional or not, but thanks!
Awesome tool by the way. thanks!

[2020-04-01 14:08] gkanwar commented on #205
Could you open up a developer console in the browser and check which api calls are causing the issue? By nested configurations you mean sacred configs inside scopes?

[2020-04-01 15:06] alvarovalcarce commented on #205
Hi,
Yes, I mean Sacred configs inside scopes.

The error message is:

Error: Invalid $project :: caused by :: specification contains two conflicting paths. Cannot specify both 'config.learn.ue_internal_state_size' and 'config.learn': { _id: 1, experiment.name: 1, start_time: 1, status: 1, omniboard.tags: 1, duration: 1, result: 1, Rval SEM: 1, IC: 1, Rval Avg Inst: 1, L_a avg: 1, Rtr Avg Rep0: 1,

[2020-04-01 15:17] gkanwar commented on #205
Thanks! This doesn't seem related to the recent change bb8adae9, so I'm a bit confused why this would show up as of 2.8.0. What older version were you at?

[2020-04-01 15:26] alvarovalcarce commented on #205
I was using 2.7.4 without problem.

[2020-04-01 15:30] gkanwar commented on #205
Okay. To make sure I understand: in the above are your custom config scopes called "learn" and "experiment"?

[2020-04-01 15:49] gkanwar commented on #205
@vivekratnavel The issue appears to be with scoped columns not have '.' replaced with something else. I don't know how sacred handles this by default. Database code shouldn't have changed in 2.8.0 so confused as to why this appears now, but maybe you have more insight?

[2020-04-01 21:56] vivekratnavel commented on #205
@alvarovalcarce Can you confirm if the same filter on nested config 'config.learn.ue_internal_state_size' works in 2.7.4?

[2020-04-02 06:59] alvarovalcarce commented on #205
@gkanwar , Yes "learn" and "experiment" are two of my config scopes.
@vivekratnavel ,Yes, I confirm that the same filter works in 2.7.4.

I add next the HTTP network traces for both versions. These are captured from the moment I click the button "Add filter". Auto refresh is disabled in both cases.

**Network traces in the 2.7.4 version:**
Request URL: http://127.0.0.1:11000/api/v1/Omniboard.Metri

[2020-04-02 11:10] dguijo opened #206 "Omniboard is not keeping result from main function"
Hi!
First of all, thanks for this really useful tool. I'm enjoying a lot using it.

I'm having some troubles cause omniboard isn't keeping the result obtained by Sacred, which seems weird...
This is the output I got for the exp named TC

	INFO - TC - Result: 1
	INFO - TC - Completed after 0:02:10

So, Sacred is keeping track that the result is 1. However, in Omniboard, I can't see the column for r

[2020-04-02 11:42] dguijo commented on #206
Closed, the problem was solved by reseting the cache... Sorry and many thanks!

[2020-04-02 11:42] #206 closed

[2020-04-02 17:35] vivekratnavel commented on #194
@skat00sh This feature is not in roadmap and I am not planning to work on this in near future since the value-to-effort ratio is very low. I would be happy to accept a PR for this feature though. Thanks!

[2020-04-02 17:41] vivekratnavel commented on #179
Omniboard is a tool to visualize sacred experiments stored in MongoDB. You can always backup and restore your MongoDB using Mongo Tools such as mongodump - https://docs.mongodb.com/manual/reference/program/mongodump/

I am not planning to add this as a feature in Omniboard.

[2020-04-02 17:41] #179 closed

[2020-04-02 17:43] #176 closed

[2020-04-03 09:36] mkansy opened #207 "Details view not working anymore"
Hi,

First of all, I just started using sacred and Omniboard yesterday, so it could be an issue on my part. Also, thanks for making this tool and offering support!

I set up a free MongoDB Atlas cluster yesterday, followed a tutorial to install Node.js (12.16.1), and then installed the newest version of Omniboard (2.8.1?) according to the quick start guide. Everything seemed to work fine, and I co

[2020-04-04 06:11] vivekratnavel commented on #207
Can you post omniboard server logs and the network tab in Browser dev console?

https://developers.google.com/web/tools/chrome-devtools/open

[2020-04-04 09:06] mkansy commented on #207
I just started Omniboard and then pressed on the detail arrow to reproduce the error. I think the auto-refresh is also in the following logs once or twice.

The Omniboard server logs are here (Note: I replaced my username, password, and the cluster name with \<username\>, \<password\>, and \<cluster\>):
`{
  _: [],
  mu: 'mongodb+srv://<username>:<password>@<cluster>.mongodb.net/thesis_runs?retryW

[2020-04-06 08:34] vivekratnavel commented on #207
Hi,

I am unable to reproduce this issue on my end.

But, I will try to debug it for you. Can you post the response of the call `1?select=captured_out,...`? Also please post the `Request URL` from `Headers` tab. Thanks!

[2020-04-06 08:43] #205 closed

[2020-04-06 08:46] vivekratnavel commented on #205
Hi @alvarovalcarce,

Thanks for filing this issue! I was able to reproduce this bug in my local dev environment and fixed it. You should be able to update Omniboard to the next version pretty soon.

[2020-04-06 08:51] vivekratnavel commented on #205
:tada: This issue has been resolved in version 2.8.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard/v/2.8.2)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/2.8.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-06 08:52] mkansy commented on #207
Hi,

The response is:
`[]`

The Request URL is:
`http://localhost:9000/sacred/api/v1/Runs/1?select=captured_out,info,meta,host,experiment,artifacts,config,fail_trace,status`

Thanks!

[2020-04-06 08:56] vivekratnavel commented on #207
That seems strange!

What is the response for `http://localhost:9000/sacred/api/v1/Runs/1` ?

[2020-04-06 08:57] mkansy commented on #207
Also `[]`

[2020-04-06 08:59] vivekratnavel commented on #207
Do you get a response for `http://localhost:9000/sacred/api/v1/Runs` with run id 1 ?

[2020-04-06 09:02] mkansy commented on #207
Yes, I get a response when I enter that. It shows all of the stuff from the configuration as well as the host information (and a few other things).

If it would be helpful, I could also post it here (anonymizing my data).

[2020-04-06 09:05] vivekratnavel commented on #207
Which version of MongoDB is this?

[2020-04-06 09:12] mkansy commented on #207
I am using MongoDB Atlas, so I do not have MongoDB installed on my computer. It seems like it is using version 4.2 (specifically, it says 4.2.5 somewhere for the cluster).

Interestingly, I just tried `http://localhost:9000/sacred/api/v1/Runs/"1"` because I saw the 1 in quotation marks when calling `http://localhost:9000/sacred/api/v1/Runs`, and this gave me the same response for the run 1 as befo

[2020-04-06 09:16] vivekratnavel commented on #207
Ah, that's where the bug is. Omniboard assumes run ids to be numbers. And, that might be the issue here.

[2020-04-06 09:21] mkansy commented on #207
Yes, I just figured out what caused the problem on my side. In my code, I create a FileStorageObserver and a MongoObserver and set it so that the MongoObserver has a lower priority (so that it takes the ID of the FileStorageObserver). Apparently, the ID of the FileStorageObserver is a string, so this is where the issue stems from.

I removed the database and now only created a MongoObserver. Now,

[2020-04-06 09:21] #207 closed

[2020-04-06 09:26] vivekratnavel commented on #207
Thanks for the detailed description of the root cause of this issue! I was wondering how run id's were generated as strings for you and now I have the answer. I am glad I was able to help you!

[2020-04-06 13:58] alvarovalcarce opened #209 "Slow "Experiments compare" feature"
What information is requested from the server when clicking on "Compare" two runs?

In the past weeks, the compare feature has become rather useless for me since it takes far too long.
When inspecting the GET request for one run individually, the response occupies a handful of KB. But when I try to compare 2 runs, the response grows in size until around 100 MB and then it breaks.

So does the comp

[2020-04-06 17:00] vivekratnavel commented on #209
When you click on "compare" button, which api call responds with highest
data size? You can find this information from Google Chrome Dev Tools -
Network tab (Right click -> Inspect).

On Mon, Apr 6, 2020 at 6:58 AM Alvaro Valcarce <notifications@github.com>
wrote:

--
Regards,
Vivek Ratnavel

[2020-04-07 06:20] alvarovalcarce commented on #209
It's the GET Metrics call that takes the most data size.
In the example below, the query for run 1001 alone retrieves 2.8MB, and the query for run 998 retrieves 3.0 MB.
However, when clicking "Compare" for 1001 and 998 retrieves up to 57.6MB during 1.5 min until the compare overlay displays "Error: No response was received from the server." and "No metrics are available to plot". Chrome's Timing B

[2020-04-08 18:48] vivekratnavel commented on #209
@alvarovalcarce Do you track lots of metrics for each run?

Omniboard will try to fetch all metrics for the selected runs (in this case 998, 1001) to be able to plot metrics for both runs.

I don't understand this line

Do you mean, when you click on each run, when detailed view is displayed with metrics plot for each run, the data size retrieved is 2.8MB and 3MB?

I want to know the data size for

[2020-04-09 07:43] alvarovalcarce commented on #209
Those queries you ask collect indeed a lot of data (in excess of 30 MB each).
I don't track that many metrics for each run, but I produce a lot of captured output with prints, which makes the lion share of the collected data. This may be the issue. I will investigate further.

[2020-04-17 10:54] MaxSchambach commented on #180
I am facing a similar issue. Adding the experiment name does not work for my workflow.I use the Experiment Name to group single runs with a common experiment target. Then, when comparing many runs, the ID is not very informative (as mentioned above) and the Experiment Name is not necessarily unique.

What I would suggest is to make it possible to add arbitrary (possibly multiple, concatenated) con

[2020-04-17 10:59] MaxSchambach commented on #196
I thought about this as well. The conclusion that I came to is that working with the MongoDB database directly, rather then exporting raw data from Omniboard, should be the preferred way, as all the information is already saved there and high level data aggregation can be directly performed.
Hence, using for example [PyMongo](https://github.com/mongodb/mongo-python-driver) with a plot tool of your

[2020-04-17 22:38] vivekratnavel commented on #196
I agree with @MaxSchambach. Omniboard is only a tool to visualize sacred data from MongoDB. There are several tools available to get raw data from mongodb like the one @MaxSchambach mentioned. Closing this issue now. Thanks @MaxSchambach !

[2020-04-17 22:38] #196 closed

[2020-04-18 06:04] diegombar commented on #196
Thanks for the reply. I thought it could benefit from interactive experiment and column filtering to quickly specify what we want to export, keeping Omniboard as the main interface to Sacred data. It would also be appealing for a larger user base, who may not be familiar with MongoDB.

[2020-04-20 08:35] MaxSchambach commented on #196
The filtering options that omniboards provide are, despite being very useful for a quick visualization, very limit and easy to realize within the database directly. While yes, having a GUI interface is nice and super useful for data exploration, when the data becomes more complex and you are trying to visualize more complex structures within the data, getting familiar with either MongoDB or someth

[2020-04-24 11:50] MaxSchambach opened #210 "Blank screen on scroll and pending"
I am facing a strange yet reproducible bug with Omniboard.
Scrolling many experiments (or dragging the scrollbar with the mouse) at some point causes the Omniboard page to go totally blank (not only the table but everything). Refreshing the page brings back everything.

I have found it to be precisely reproducible, it seems to happen when Omniboard is fetching from the database (sometimes, a "PEND

[2020-04-27 17:10] vivekratnavel commented on #210
Hi @MaxSchambach,

Omniboard fetches the experiments lazily. Initially when the page loads, it fetches 50 experiments by default (this can be changed by editing the [settings](https://vivekratnavel.github.io/omniboard/#/usage?id=change-timezone)). When you scroll down, all the rows from the first row to the row you have scrolled gets fetched. It is expected you see "PENDING" on all cells of the ta

[2020-04-27 17:22] MaxSchambach commented on #210
Hi, thanks for the reply! Regarding your three points:

1. There are 90 experiments in the database.

2. The blank screen does **not** occur in incognito mode!

3. The output of the Console when the blank screen occurs reads:
[code]

Hope that help!

[2020-04-27 17:35] vivekratnavel commented on #210
Ah! The console error doesn't help since the scripts are minified. But, it looks like some setting you have saved is not applicable to some of the rows. In this case, you can reset cache and try again (https://vivekratnavel.github.io/omniboard/#/troubleshooting)

[2020-04-28 06:55] MaxSchambach commented on #210
I reset the cache and yes that solve the problem at first glance.
After playing around with the columns a little bit, I found the problem also to occur when I scroll horizontally or after deleting a couple of columns. So I guess it is associated with the columns, possibly with the custom ones? (I have some metric and some custom config columns). I cant seem to figure out which column in particular

[2020-04-28 07:12] vivekratnavel commented on #210
Yes, you can start omniboard in dev mode by checking out omniboard source code from github and following the instructions here - https://vivekratnavel.github.io/omniboard/#/development?id=development

We will then get to know exactly which column is causing an issue. From my experience, it is usually data in one cell that does not conform to the data type that's causing the issue.

Once you found

[2020-04-28 07:59] MaxSchambach commented on #210
I tried building the dev version for some time now, but can't seem to get it done.
After installing a bunch of missing dependencies by hand, it would not compile, maybe due to a newer nodejs or react version (seems to be related to [this](https://stackoverflow.com/questions/55140033/failed-to-compile-webpack-is-not-a-function))

Is there any way I can do this directly in the docker image?
Sorry, I

[2020-04-28 14:24] alvarovalcarce opened #211 "Artifacts with content-type image/png not displayed correctly"
I store PNG images as run artifacts with the call:

run.add_artifact(filename, name="TestName.png", content_type="image/png")

With Mongo Express I've verified that the image's content type is correctly stored as "image/png" in the DB. However, the Response Header of TestName.png obtained by the Omniboard interface contains the following erroneous content-type:

Content-Type: text/html; charset=ut

[2020-04-29 05:04] vivekratnavel commented on #210
Docker will not help since the images have minified scripts. What versions of node, npm and yarn do you have installed?

Can you try installing node v12? You can install nvm to switch between different node versions.

And then do, `yarn install`, `cd web; yarn install`

If you still see issues, please post the errors and I will help you resolve them.

[2020-04-29 06:46] MaxSchambach commented on #210
Thanks for your patience, I am getting closer!
Using node v12 via nvm helped, I think the dev installation now works, however since I am connecting to a remote MongoDB, I am getting connection errors from the default localhost:27017 connection.
I tried setting up a omniboard.conf as suggested in the [documentation](https://vivekratnavel.github.io/omniboard/#/quick-start) however, using the exact o

[2020-04-29 06:59] vivekratnavel commented on #210
Great! You can start the server by running
`yarn run server --mu mongodb://dockerhost:27019/sacred`
And then start web server in another terminal by
`cd web`
`yarn run start`

[2020-04-29 07:15] MaxSchambach commented on #210
Ok, now to the actual error messages:
They all seem to be related to columns with config parameters that are dictionaries (which I have a couple of). Not showing the dict columns, no error is thrown (and the screen does not turn blank).
It seems to occur even if the dict config is set for all experiments (some dict configurations however are not set for all experiments).

It seems a little strange

[2020-04-29 08:12] #211 closed

[2020-04-29 08:20] vivekratnavel commented on #211
:tada: This issue has been resolved in version 2.8.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard/v/2.8.3)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/2.8.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-29 08:24] vivekratnavel commented on #210
I have a similar custom column with dictionary as value, but I am not able to reproduce the issue.

<img width="275" alt="Screen Shot 2020-04-29 at 1 20 21 AM" src="https://user-images.githubusercontent.com/1051198/80575131-e14a8800-89b7-11ea-8304-65ba024be571.png">

Can you give more details on the structure of this dictionary? Also, can you verify if these console errors are logged only when a f

[2020-04-29 08:34] MaxSchambach commented on #210
It does not happen, when there are only a few experiments to show, e.g. by filtering.

I think it is related to the dynamic fetching. When I filter by one experiment that has less then the amount of rows that are fetched by default, i.e. everything is fetched, the error does not occur and the dictionaries are shown just as in the screen shot you posted.
When I set the numbers of rows fetched below

[2020-05-07 08:10] #209 closed

[2020-05-07 08:16] alvarovalcarce opened #213 "Experiment name not displayed unless browser's local storage with key path|RunsTable|1 is deleted"
I noticed that Omniboard does not display the experiment name after refreshing the page.
However, it is displayed after deleting the site's local storage of the browser. The experiment name then vanishes again after the first page reload. I have seen this behaviour in Firefox and Chrome in Windows.

In Chrome, for instance, the workaround to display the experiment name again is as follows:
-On the

[2020-05-12 07:00] MaxSchambach commented on #210
@vivekratnavel Were you able to reproduce the issue? Is there anything further that I can provide?

[2020-05-12 10:02] peschn commented on #111
Was there a solution to this? I am experiencing the same issue. Also I tested that the db is running correctly, which is the case, as I can connect with Mongo Compass to the database and view its contents. Thx

[2020-05-14 09:44] jfolz commented on #116
Quick question: am I running into the same issue?

I have metrics called "threads", "auto" and "torch". Randomly these metric columns are empty (best is max(threads)):
![grafik](https://user-images.githubusercontent.com/3245870/81919095-ab241f80-95d7-11ea-8319-f49e80ab3a8d.png)

Here's the result of the `Runs?select=...` result, the empty columns are `null`:
![grafik](https://user-images.githubuse

[2020-05-14 13:43] alvarovalcarce commented on #83
What "content_type" do you set in the add_artifact function so that Omniboard renders the plotly HTML properly?

[2020-05-20 21:20] skat00sh commented on #194
@vivekratnavel Sorry for reverting so late, I somehow missed notification for this one!
Unfortunately, I've never worked with JS so, if anyone wants to take this it would be a really good feature to work upon :+1:

[2020-05-22 15:15] isugimpy opened #215 "Console Log Leaks Mongo Credentials"
Currently, when either connecting successfully or failing to connect, a console.log statement prints the URI to connect to Mongo in plaintext.  This leaks the connection credentials in a way which may be harmful.  At the very least, the username and password should be obfuscated, if not completely removed from the log message.

[2020-05-22 19:08] vivekratnavel commented on #215
#214 fixes this

[2020-05-22 19:54] isugimpy commented on #215
@vivekratnavel That fixes one instance of it, but it's also leaked in two places in https://github.com/vivekratnavel/omniboard/blob/master/server/config/database.js

[2020-05-22 20:46] vivekratnavel commented on #215
@isugimpy Thanks for pointing out! I will fix it soon.

[2020-05-23 21:59] #215 closed

[2020-05-23 22:06] vivekratnavel commented on #215
:tada: This issue has been resolved in version 2.8.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard/v/2.8.4)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/2.8.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-25 18:20] vivekratnavel commented on #210
Hi @MaxSchambach,

Sorry for getting back late on this. I got busy with other projects lately. Your detailed analysis helped me reproduce this issue in my local environment. I will work on a fix soon. Thanks!

[2020-05-26 06:55] #210 closed

[2020-05-26 06:57] vivekratnavel commented on #210
@MaxSchambach, please let me know if this patch fixes the error. Hopefully, it does :)

[2020-05-26 06:59] vivekratnavel commented on #213
@alvarovalcarce  Can you please paste the value of path|RunsTable|1 before deleting it?

[2020-05-26 07:03] vivekratnavel commented on #210
:tada: This issue has been resolved in version 2.8.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard/v/2.8.5)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/2.8.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-26 07:47] alvarovalcarce commented on #213
{
   "dropdownOptions":[
      {
         "label":" Id",
         "value":"_id",
         "selected":true
      },
      {
         "label":"Experiment Name",
         "value":"experiment_name",
         "selected":true
      },
      {
         "label":"Hostname",
         "value":"hostname",
         "selected":true
      },
      {
         "label":"Format",
         "value":"format",

[2020-05-26 07:57] vivekratnavel commented on #213
@alvarovalcarce  Do you have a custom column with the name "experiment" that maps to "config.experiment"?
I can see this under columnNameMap which is my first suspicion:
`"experiment":"config.experiment"`

By default, "experiment_name" is mapped to "experiment.name", but with the above mapping, "experiment_name" would be pointing to "config.experiment.name" and might cause undesired results.

Can

[2020-05-26 08:29] alvarovalcarce commented on #213
Hi  @vivekratnavel .
I see the column name mapping. But I do not have such a custom column with name "experiment", so I can't explain where this mapping leaks into columnMapOrder.

I've renamed it to "exp2" in the DevTools. But it is restored to the "experiment" name after the first page refresh.
I've noticed that columnMapOrder also contains other column names that I never configured and that are

[2020-05-26 08:57] #77 closed

[2020-05-26 09:02] vivekratnavel commented on #77
@jayargo, @danielzuegner You can now specify any collection for "runs" in a config file as mentioned in the documentation here - https://vivekratnavel.github.io/omniboard/#/quick-start?id=start

Please try and let me know if it works. Thanks!

[2020-05-26 09:06] vivekratnavel commented on #213
Ah, I got it. It's coming from "config". It seems like you have "experiment" under "config" which conflicts with the "experiment" at root, since Omniboard tries to expand all the first level configs into a new column automatically. If you rename "config.experiment", everything should work fine.

[2020-05-26 09:34] alvarovalcarce commented on #213
I see. Thanks @vivekratnavel . I will rename config.experiment going forward. Unfortunately, I've got hundreds of experiments with that configuration name...

[2020-05-26 13:45] MaxSchambach commented on #210
Hi, no problem!
Yes, I can confirm, with version 2.8.5 the issue seems to be fixed.
Thanks!

[2020-05-26 18:30] vivekratnavel commented on #213
@alvarovalcarce I am working on a patch to avoid these conflicts in the future. The patch will add a prefix "c_" for columns expanded from config. Once that patch is out, you will not need to update your hundreds of experiments and continue to use the same configs.

[2020-05-26 19:00] #213 closed

[2020-05-26 19:03] vivekratnavel commented on #213
This issue should now be fixed. Please try to clear your browser's local storage one last time and try the latest version of Omniboard and let me know if it works. Thanks!

[2020-05-26 19:05] vivekratnavel commented on #116
@jfolz If you are still hitting this issue, can you please try the latest version of Omniboard?

Patch #213 should fix this issue as well. Please try and let me know if it works with the latest version. Thanks!

[2020-05-26 19:08] vivekratnavel commented on #213
:tada: This issue has been resolved in version 2.9.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard/v/2.9.1)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/2.9.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-26 22:29] #83 closed

[2020-05-26 22:30] vivekratnavel commented on #83
@Haetsal-Lee @alvarovalcarce  I have added support for HTML content type previews in the latest version. Please try and let me know if it works for you.

[2020-05-26 22:34] vivekratnavel commented on #111
@peschn What is the error you are getting? Which version of Omniboard are you running and how are you running (npm or docker)?

[2020-05-26 22:37] vivekratnavel commented on #83
:tada: This issue has been resolved in version 2.10.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard/v/2.10.0)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/2.10.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-27 06:47] alvarovalcarce commented on #213
It works! Thanks @vivekratnavel .
You're on fire these days. Keep it up!

[2020-05-27 07:29] alvarovalcarce commented on #83
It works. Thanks again @vivekratnavel .
Just for future reference, the content_type to use in the save_artifact call is "text/html".
An example of saving a Plotly HTML figure to Omniboard could be:

[code]

[2020-05-27 11:44] MaxSchambach opened #216 "Feature request: Config values in compare plot legend"
I have mentioned this in the closed issue #180 :
While this one has been closed and it now possible to use the Experiment Name as the plot label, this does not fully work for many workflows (including mine, obviously).

I often use the Experiment Name to group single runs with a common experiment target. Then, when comparing many runs, the ID is not very informative (as mentioned in #180 ) and the

[2020-05-28 09:24] #216 closed

[2020-05-28 09:28] vivekratnavel commented on #216
<img width="1822" alt="Screen Shot 2020-05-28 at 1 37 11 AM" src="https://user-images.githubusercontent.com/1051198/83124079-9725f680-a08a-11ea-8a8f-f57299995a8a.png">

You can now add multiple metric labels with a wide range of options to choose from the dropdown.

@MaxSchambach Let me know how you like the new feature. Thanks!

[2020-05-28 09:32] vivekratnavel commented on #216
:tada: This issue has been resolved in version 2.11.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/omniboard/v/2.11.0)
- [GitHub release](https://github.com/vivekratnavel/omniboard/releases/tag/2.11.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-28 09:33] vivekratnavel commented on #209
@alvarovalcarce Experiments compare feature should now be much faster with #216

I updated the code to not include captured output (https://github.com/vivekratnavel/omniboard/commit/240b9ab07693cc79031bd7ac33086e1fc4b907a8#diff-ff69b92ece0151f7b66574f604828fe4R98) while pulling metrics for comparison. Please try the latest version and let me know if you are now able to compare metrics faster even

[2020-05-28 09:40] MaxSchambach commented on #216
Very cool, thanks!
Just tried it out, pretty much exactly what I thought it could work like.
Thank you for the super quick implementation!

[2020-05-28 09:43] vivekratnavel commented on #83
@alvarovalcarce Thanks for the example code!

It should also work without explicitly specifying the content type.
`_run.add_artifact(filename, name='My_figure.html')`

Omniboard will detect content type from file extension and in this case, any file with extension "html" will get properly rendered as HTML.